<div align="right" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/ExploreAI_logos/Logo blue_dark.png"  style="width:25px" align="right";/>
</div>

# Integrated project notebook
© ExploreAI Academy

This notebook guides us on how to create a notebook for the integrated project.

> ⚠️ This notebook will not run on Google Colab because it cannot connect to a local database. Please make sure that this notebook is running on the same local machine as your MySQL Workbench installation and MySQL `md_water_services` database.

## Connecting to our MySQL database

Using our `Access_to_Basic_Services` table in our `united_nations` database we created in MySQL Workbench, we want to answer some questions about our dataset. We can apply the same queries we used in MySQL Workbench in this notebook if we connect to our MySQL server by running the cells below.

In [15]:
# Load and activate the SQL extension to allow us to execute SQL in a Jupyter notebook. 
# If you get an error here, make sure that mysql and pymysql are installed correctly. 

%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [16]:
# Establish a connection to the local database using the '%sql' magic command.
# Replace 'password' with our connection password and `db_name` with our database name. 
# If you get an error here, please make sure the database name or password is correct.

%sql mysql+pymysql://root:Mysql.003@localhost:3306/md_water_services

## Managing SQL queries in notebooks
Notebooks are great tools to explore a database. Notebooks contain `Python` cells:

In [ ]:
# We run Python commands in here

and `Markdown` cells:

Used to display text with. Running this cell will create formatted text.

We can use `Markdown` cells to organise our work flow and take notes as we journey through a data project. 
Below are some useful formatting tools you may need:

# Heading 1
Double clicking on this text will enable editing of this text, and the syntax for `Markdown` cells will be visible. Running the cell will produce formatted text.  
## Heading 2
### Heading 3

Tables:
|column1_heading|column2_heading|
|---|---| 
|data|data|

Text formatting:
`code` - Note: This is not a quote mark, it is called a tick mark. On conventional keyboards, it is on the same key as tilde (~).

Text can be **Bold**, *italic*, and <font color='green'>appear</font>  as <font color='red'>colored text </font>.

Use these tools to create notes for yourself.

### Task 1: Get to know our data 
Show all of the tables.

In [3]:
%%sql
# Add your code here

SHOW TABLES;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
9 rows affected.

[('data_dictionary',),
 ('employee',),
 ('global_water_access',),
 ('location',),
 ('visits',),
 ('water_quality',),
 ('water_source',),
 ('well_pollution',),
 ('well_pollution_copy',)]

In [6]:
%%sql

SELECT *
FROM global_water_access
LIMIT 10;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
10 rows affected.

[('Afghanistan', 'South Asia', 2015, 34413.6, 24.803, 61.3398, 3.5112, 22.1688, 12.9802, 52.9885, 3.86114, 26.5533, 16.5971, 86.6589, 2.45027, 8.87604, 2.01475),
 ('Afghanistan', 'South Asia', 2020, 38928.3, 26.026, 75.0914, 1.44754, 14.5603, 8.90078, 66.3279, 1.95682, 19.6829, 12.0323, 100.0, 0.0, 0.0, 0.0),
 ('Albania', 'Europe & Central Asia', 2015, 2890.52, 57.434, 93.3943, 3.62638, 2.97929, 0.0, 90.6273, 5.26317, 4.10955, 0.0, 95.4451, 2.41331, 2.14162, 0.0),
 ('Albania', 'Europe & Central Asia', 2020, 2877.8, 62.112, 95.068, 1.88466, 3.04731, 0.0, 94.0914, 2.30526, 3.60338, 0.0, 95.6638, 1.62809, 2.7081, 0.0),
 ('Algeria', 'Middle East & North Africa', 2015, 39728.0, 70.848, 93.4096, 5.15778, 1.27546, 0.157193, 88.3527, 8.68575, 2.58043, 0.381108, 95.4903, 3.70612, 0.73851, 0.0650579),
 ('Algeria', 'Middle East & North Africa', 2020, 43851.0, 73.733, 94.4373, 4.98588, 0.531837, 0.0449525, 90.0375, 8.79672, 0.994603, 0.171137, 96.0047, 3.62829, 0.366976, 0.0),
 ('American Samoa', 'East Asia & Pacific', 2015, 55.806, 87.238, 99.6191, 0.0, 0.380897, 0.0, None, None, None, None, None, None, None, None),
 ('American Samoa', 'East Asia & Pacific', 2020, 55.197, 87.153, 99.7738, 0.0, 0.226228, 0.0, None, None, None, None, None, None, None, None),
 ('Andorra', 'Europe & Central Asia', 2015, 77.993, 88.345, 100.0, 0.0, 2.44554e-06, 0.0, 100.0, 0.0, 0.0, 0.0, 100.0, 0.0, 0.0, 0.0),
 ('Andorra', 'Europe & Central Asia', 2020, 77.265, 87.916, 100.0, 0.0, 0.0, 0.0, 100.0, 0.0, 0.0, 0.0, 100.0, 0.0, 0.0, 0.0)]

NOTES: This query will show all of the tables in a database. When I start a data project, this is a good first command to use to get to know the database.

In [7]:
%%sql
SELECT 
    name, 
    COUNT(*) as country_count
FROM global_water_access
GROUP BY name;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
232 rows affected.

[('Afghanistan', 2),
 ('Albania', 2),
 ('Algeria', 2),
 ('American Samoa', 2),
 ('Andorra', 2),
 ('Angola', 2),
 ('Anguilla', 2),
 ('Antigua and Barbuda', 2),
 ('Argentina', 2),
 ('Armenia', 2),
 ('Aruba', 2),
 ('Australia', 2),
 ('Austria', 2),
 ('Azerbaijan', 2),
 ('Bahamas', 2),
 ('Bahrain', 2),
 ('Bangladesh', 2),
 ('Barbados', 2),
 ('Belarus', 2),
 ('Belgium', 2),
 ('Belize', 2),
 ('Benin', 2),
 ('Bermuda', 2),
 ('Bhutan', 2),
 ('Bolivia (Plurinational State of)', 2),
 ('Bosnia and Herzegovina', 2),
 ('Botswana', 2),
 ('Brazil', 2),
 ('British Virgin Islands', 2),
 ('Brunei Darussalam', 2),
 ('Bulgaria', 2),
 ('Burkina Faso', 2),
 ('Burundi', 2),
 ('Cabo Verde', 2),
 ('Cambodia', 2),
 ('Cameroon', 2),
 ('Canada', 2),
 ('Cayman Islands', 2),
 ('Central African Republic', 2),
 ('Chad', 2),
 ('Channel Islands', 2),
 ('Chile', 2),
 ('China', 2),
 ('China, Hong Kong SAR', 2),
 ('China, Macao SAR', 2),
 ('Colombia', 2),
 ('Comoros', 2),
 ('Congo', 2),
 ('Cook Islands', 2),
 ('Costa Rica', 2),
 ("Côte d'Ivoire", 2),
 ('Croatia', 2),
 ('Cuba', 2),
 ('Curaçao', 2),
 ('Cyprus', 2),
 ('Czech Republic', 2),
 ("Democratic People's Republic of Korea", 2),
 ('Democratic Republic of the Congo', 2),
 ('Denmark', 2),
 ('Djibouti', 2),
 ('Dominica', 2),
 ('Dominican Republic', 2),
 ('Ecuador', 2),
 ('Egypt', 2),
 ('El Salvador', 2),
 ('Equatorial Guinea', 2),
 ('Eritrea', 2),
 ('Estonia', 2),
 ('Eswatini', 2),
 ('Ethiopia', 2),
 ('Faeroe Islands', 2),
 ('Falkland Islands (Malvinas)', 2),
 ('Fiji', 2),
 ('Finland', 2),
 ('France', 2),
 ('French Guiana', 2),
 ('French Polynesia', 2),
 ('Gabon', 2),
 ('Gambia', 2),
 ('Georgia', 2),
 ('Germany', 2),
 ('Ghana', 2),
 ('Gibraltar', 2),
 ('Greece', 2),
 ('Greenland', 2),
 ('Grenada', 2),
 ('Guadeloupe', 2),
 ('Guam', 2),
 ('Guatemala', 2),
 ('Guinea', 2),
 ('Guinea-Bissau', 2),
 ('Guyana', 2),
 ('Haiti', 2),
 ('Honduras', 2),
 ('Hungary', 2),
 ('Iceland', 2),
 ('India', 2),
 ('Indonesia', 2),
 ('Iran (Islamic Republic of)', 2),
 ('Iraq', 2),
 ('Ireland', 2),
 ('Isle of Man', 2),
 ('Israel', 2),
 ('Italy', 2),
 ('Jamaica', 2),
 ('Japan', 2),
 ('Jordan', 2),
 ('Kazakhstan', 2),
 ('Kenya', 2),
 ('Kiribati', 2),
 ('Kuwait', 2),
 ('Kyrgyzstan', 2),
 ("Lao People's Democratic Republic", 2),
 ('Latvia', 2),
 ('Lebanon', 2),
 ('Lesotho', 2),
 ('Liberia', 2),
 ('Libya', 2),
 ('Liechtenstein', 2),
 ('Lithuania', 2),
 ('Luxembourg', 2),
 ('Madagascar', 2),
 ('Maji Ndogo', 2),
 ('Malawi', 2),
 ('Malaysia', 2),
 ('Maldives', 2),
 ('Mali', 2),
 ('Malta', 2),
 ('Marshall Islands', 2),
 ('Martinique', 2),
 ('Mauritania', 2),
 ('Mauritius', 2),
 ('Mayotte', 2),
 ('Mexico', 2),
 ('Micronesia (Federated States of)', 2),
 ('Monaco', 2),
 ('Mongolia', 2),
 ('Montenegro', 2),
 ('Montserrat', 2),
 ('Morocco', 2),
 ('Mozambique', 2),
 ('Myanmar', 2),
 ('Namibia', 2),
 ('Nauru', 2),
 ('Nepal', 2),
 ('Netherlands', 2),
 ('New Caledonia', 2),
 ('New Zealand', 2),
 ('Nicaragua', 2),
 ('Niger', 2),
 ('Nigeria', 2),
 ('Niue', 2),
 ('North Macedonia', 2),
 ('Northern Mariana Islands', 2),
 ('Norway', 2),
 ('Oman', 2),
 ('Pakistan', 2),
 ('Palau', 2),
 ('Panama', 2),
 ('Papua New Guinea', 2),
 ('Paraguay', 2),
 ('Peru', 2),
 ('Philippines', 2),
 ('Poland', 2),
 ('Portugal', 2),
 ('Puerto Rico', 2),
 ('Qatar', 2),
 ('Republic of Korea', 2),
 ('Republic of Moldova', 2),
 ('Réunion', 2),
 ('Romania', 2),
 ('Russian Federation', 2),
 ('Rwanda', 2),
 ('Saint Barthelemy', 2),
 ('Saint Helena', 2),
 ('Saint Kitts and Nevis', 2),
 ('Saint Lucia', 2),
 ('Saint Martin (French part)', 2),
 ('Saint Pierre and Miquelon', 2),
 ('Saint Vincent and the Grenadines', 2),
 ('Samoa', 2),
 ('San Marino', 2),
 ('Sao Tome and Principe', 2),
 ('Saudi Arabia', 2),
 ('Senegal', 2),
 ('Serbia', 2),
 ('Seychelles', 2),
 ('Sierra Leone', 2),
 ('Singapore', 2),
 ('Sint Maarten (Dutch part)', 2),
 ('Slovakia', 2),
 ('Slovenia', 2),
 ('Solomon Islands', 2),
 ('Somalia', 2),
 ('South Africa', 2),
 ('South Sudan', 2),
 ('Spain', 2),
 ('Sri Lanka', 2),
 ('Sudan', 2),
 ('Suriname', 2),
 ('Sweden', 2),
 ('Switzerland', 2),
 ('Syrian Arab Republic', 2),
 ('Tajikistan', 2),
 ('Thailand', 2),
 ('Timor-Leste', 2),
 ('Togo', 2),
 ('Tokelau', 2),
 ('Tonga', 2),
 ('Trinidad and Tobago', 2),
 ('Tunisia', 2),
 ('Turkey', 2),
 ('Turkmenistan', 2),
 ('Turks and Caicos Islands', 2),
 ('Tuvalu', 2),
 ('Uganda', 2),
 ('Ukraine', 2),
 ('United Arab Emirates', 2),
 ('United Kingdom', 2),
 ('United Republic of Tanzania', 2),
 ('United States of America', 2),
 ('United States Virgin Islands', 2),
 ('Uruguay', 2),
 ('Uzbekistan', 2),
 ('Vanuatu', 2),
 ('Venezuela (Bolivarian Republic of)', 2),
 ('Viet Nam', 2),
 ('Wallis and Futuna Islands', 2),
 ('West Bank and Gaza Strip', 2),
 ('Yemen', 2),
 ('Zambia', 2),
 ('Zimbabwe', 2)]

In [8]:
%%sql
SELECT DISTINCT
    name
FROM global_water_access;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
232 rows affected.

[('Afghanistan',),
 ('Albania',),
 ('Algeria',),
 ('American Samoa',),
 ('Andorra',),
 ('Angola',),
 ('Anguilla',),
 ('Antigua and Barbuda',),
 ('Argentina',),
 ('Armenia',),
 ('Aruba',),
 ('Australia',),
 ('Austria',),
 ('Azerbaijan',),
 ('Bahamas',),
 ('Bahrain',),
 ('Bangladesh',),
 ('Barbados',),
 ('Belarus',),
 ('Belgium',),
 ('Belize',),
 ('Benin',),
 ('Bermuda',),
 ('Bhutan',),
 ('Bolivia (Plurinational State of)',),
 ('Bosnia and Herzegovina',),
 ('Botswana',),
 ('Brazil',),
 ('British Virgin Islands',),
 ('Brunei Darussalam',),
 ('Bulgaria',),
 ('Burkina Faso',),
 ('Burundi',),
 ('Cabo Verde',),
 ('Cambodia',),
 ('Cameroon',),
 ('Canada',),
 ('Cayman Islands',),
 ('Central African Republic',),
 ('Chad',),
 ('Channel Islands',),
 ('Chile',),
 ('China',),
 ('China, Hong Kong SAR',),
 ('China, Macao SAR',),
 ('Colombia',),
 ('Comoros',),
 ('Congo',),
 ('Cook Islands',),
 ('Costa Rica',),
 ("Côte d'Ivoire",),
 ('Croatia',),
 ('Cuba',),
 ('Curaçao',),
 ('Cyprus',),
 ('Czech Republic',),
 ("Democratic People's Republic of Korea",),
 ('Democratic Republic of the Congo',),
 ('Denmark',),
 ('Djibouti',),
 ('Dominica',),
 ('Dominican Republic',),
 ('Ecuador',),
 ('Egypt',),
 ('El Salvador',),
 ('Equatorial Guinea',),
 ('Eritrea',),
 ('Estonia',),
 ('Eswatini',),
 ('Ethiopia',),
 ('Faeroe Islands',),
 ('Falkland Islands (Malvinas)',),
 ('Fiji',),
 ('Finland',),
 ('France',),
 ('French Guiana',),
 ('French Polynesia',),
 ('Gabon',),
 ('Gambia',),
 ('Georgia',),
 ('Germany',),
 ('Ghana',),
 ('Gibraltar',),
 ('Greece',),
 ('Greenland',),
 ('Grenada',),
 ('Guadeloupe',),
 ('Guam',),
 ('Guatemala',),
 ('Guinea',),
 ('Guinea-Bissau',),
 ('Guyana',),
 ('Haiti',),
 ('Honduras',),
 ('Hungary',),
 ('Iceland',),
 ('India',),
 ('Indonesia',),
 ('Iran (Islamic Republic of)',),
 ('Iraq',),
 ('Ireland',),
 ('Isle of Man',),
 ('Israel',),
 ('Italy',),
 ('Jamaica',),
 ('Japan',),
 ('Jordan',),
 ('Kazakhstan',),
 ('Kenya',),
 ('Kiribati',),
 ('Kuwait',),
 ('Kyrgyzstan',),
 ("Lao People's Democratic Republic",),
 ('Latvia',),
 ('Lebanon',),
 ('Lesotho',),
 ('Liberia',),
 ('Libya',),
 ('Liechtenstein',),
 ('Lithuania',),
 ('Luxembourg',),
 ('Madagascar',),
 ('Malawi',),
 ('Malaysia',),
 ('Maldives',),
 ('Mali',),
 ('Malta',),
 ('Marshall Islands',),
 ('Martinique',),
 ('Mauritania',),
 ('Mauritius',),
 ('Mayotte',),
 ('Mexico',),
 ('Micronesia (Federated States of)',),
 ('Monaco',),
 ('Mongolia',),
 ('Montenegro',),
 ('Montserrat',),
 ('Morocco',),
 ('Mozambique',),
 ('Myanmar',),
 ('Namibia',),
 ('Nauru',),
 ('Nepal',),
 ('Netherlands',),
 ('New Caledonia',),
 ('New Zealand',),
 ('Nicaragua',),
 ('Niger',),
 ('Nigeria',),
 ('Niue',),
 ('North Macedonia',),
 ('Northern Mariana Islands',),
 ('Norway',),
 ('Oman',),
 ('Pakistan',),
 ('Palau',),
 ('Panama',),
 ('Papua New Guinea',),
 ('Paraguay',),
 ('Peru',),
 ('Philippines',),
 ('Poland',),
 ('Portugal',),
 ('Puerto Rico',),
 ('Qatar',),
 ('Republic of Korea',),
 ('Republic of Moldova',),
 ('Réunion',),
 ('Romania',),
 ('Russian Federation',),
 ('Rwanda',),
 ('Saint Barthelemy',),
 ('Saint Helena',),
 ('Saint Kitts and Nevis',),
 ('Saint Lucia',),
 ('Saint Martin (French part)',),
 ('Saint Pierre and Miquelon',),
 ('Saint Vincent and the Grenadines',),
 ('Samoa',),
 ('San Marino',),
 ('Sao Tome and Principe',),
 ('Saudi Arabia',),
 ('Senegal',),
 ('Serbia',),
 ('Seychelles',),
 ('Sierra Leone',),
 ('Singapore',),
 ('Sint Maarten (Dutch part)',),
 ('Slovakia',),
 ('Slovenia',),
 ('Solomon Islands',),
 ('Somalia',),
 ('South Africa',),
 ('South Sudan',),
 ('Spain',),
 ('Sri Lanka',),
 ('Sudan',),
 ('Suriname',),
 ('Sweden',),
 ('Switzerland',),
 ('Syrian Arab Republic',),
 ('Tajikistan',),
 ('Thailand',),
 ('Timor-Leste',),
 ('Togo',),
 ('Tokelau',),
 ('Tonga',),
 ('Trinidad and Tobago',),
 ('Tunisia',),
 ('Turkey',),
 ('Turkmenistan',),
 ('Turks and Caicos Islands',),
 ('Tuvalu',),
 ('Uganda',),
 ('Ukraine',),
 ('United Arab Emirates',),
 ('United Kingdom',),
 ('United Republic of Tanzania',),
 ('United States of America',),
 ('United States Virgin Islands',),
 ('Uruguay',),
 ('Uzbekistan',),
 ('Vanuatu',),
 ('Venezuela (Bolivarian Republic of)',),
 ('Viet Nam',),
 ('Wallis and Futuna Islands',),
 ('West Bank and Gaza Strip',),
 ('Yemen',),
 ('Zambia',),
 ('Zimbabwe',),
 ('Maji Ndogo',)]

In [13]:
%%sql
CREATE TABLE country_list(country VARCHAR(255));

INSERT INTO country_list (country)
SELECT DISTINCT name
FROM global_water_access;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
0 rows affected.
232 rows affected.

[]

In [5]:
%%sql
# Add your code here

SELECT
   *
FROM
   location
LIMIT 10;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
10 rows affected.

[('AkHa00000', '2 Addis Ababa Road', 'Akatsi', 'Harare', 'Urban'),
 ('AkHa00001', '10 Addis Ababa Road', 'Akatsi', 'Harare', 'Urban'),
 ('AkHa00002', '9 Addis Ababa Road', 'Akatsi', 'Harare', 'Urban'),
 ('AkHa00003', '139 Addis Ababa Road', 'Akatsi', 'Harare', 'Urban'),
 ('AkHa00004', '17 Addis Ababa Road', 'Akatsi', 'Harare', 'Urban'),
 ('AkHa00005', '125 Addis Ababa Road', 'Akatsi', 'Harare', 'Urban'),
 ('AkHa00006', '98 Addis Ababa Road', 'Akatsi', 'Harare', 'Urban'),
 ('AkHa00007', '21 Addis Ababa Road', 'Akatsi', 'Harare', 'Urban'),
 ('AkHa00008', '11 Addis Ababa Road', 'Akatsi', 'Harare', 'Urban'),
 ('AkHa00009', '6 Addis Ababa Road', 'Akatsi', 'Harare', 'Urban')]

NOTES: This query fetches 10 records from the `location` table. This is the results set I got, with only 10 rows.

### Task 2: Dive into the water sources

In [5]:
%%sql
# Add your code here
SELECT * FROM water_source LIMIT 10;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
10 rows affected.

[('AkHa00000224', 'tap_in_home', 956),
 ('AkHa00001224', 'tap_in_home_broken', 930),
 ('AkHa00002224', 'tap_in_home_broken', 486),
 ('AkHa00003224', 'well', 364),
 ('AkHa00004224', 'tap_in_home_broken', 942),
 ('AkHa00005224', 'tap_in_home', 736),
 ('AkHa00006224', 'tap_in_home', 882),
 ('AkHa00007224', 'tap_in_home', 554),
 ('AkHa00008224', 'well', 398),
 ('AkHa00009224', 'well', 346)]

### Task 3: Unpack the visits to water sources

In [14]:
%%sql
# Add your code here
SELECT * FROM visits LIMIT 5;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
5 rows affected.

[(0, 'SoIl32582', 'SoIl32582224', datetime.datetime(2021, 1, 1, 9, 10), 1, 15, 12),
 (1, 'KiRu28935', 'KiRu28935224', datetime.datetime(2021, 1, 1, 9, 17), 1, 0, 46),
 (2, 'HaRu19752', 'HaRu19752224', datetime.datetime(2021, 1, 1, 9, 36), 1, 62, 40),
 (3, 'AkLu01628', 'AkLu01628224', datetime.datetime(2021, 1, 1, 9, 53), 1, 0, 1),
 (4, 'AkRu03357', 'AkRu03357224', datetime.datetime(2021, 1, 1, 10, 11), 1, 28, 14)]

In [18]:
%%sql

SELECT 
    s.source_id,
    s.type_of_water_source,
    s.number_of_people_served,
    v.location_id,
    v.time_of_record,
    v.visit_count,
    v.time_in_queue,
    v.assigned_employee_id
FROM water_source s
JOIN visits v ON v.source_id = s.source_id
LIMIT 10;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
10 rows affected.

[('SoIl32582224', 'river', 402, 'SoIl32582', datetime.datetime(2021, 1, 1, 9, 10), 1, 15, 12),
 ('KiRu28935224', 'well', 252, 'KiRu28935', datetime.datetime(2021, 1, 1, 9, 17), 1, 0, 46),
 ('HaRu19752224', 'shared_tap', 542, 'HaRu19752', datetime.datetime(2021, 1, 1, 9, 36), 1, 62, 40),
 ('AkLu01628224', 'well', 210, 'AkLu01628', datetime.datetime(2021, 1, 1, 9, 53), 1, 0, 1),
 ('AkRu03357224', 'shared_tap', 2598, 'AkRu03357', datetime.datetime(2021, 1, 1, 10, 11), 1, 28, 14),
 ('KiRu29315224', 'river', 862, 'KiRu29315', datetime.datetime(2021, 1, 1, 10, 17), 1, 9, 40),
 ('AkRu05234224', 'tap_in_home_broken', 496, 'AkRu05234', datetime.datetime(2021, 1, 1, 10, 18), 1, 0, 30),
 ('KiRu28520224', 'tap_in_home', 562, 'KiRu28520', datetime.datetime(2021, 1, 1, 10, 28), 1, 0, 34),
 ('HaZa21742224', 'well', 308, 'HaZa21742', datetime.datetime(2021, 1, 1, 10, 37), 1, 0, 6),
 ('AmDa12214224', 'tap_in_home', 556, 'AmDa12214', datetime.datetime(2021, 1, 1, 10, 58), 1, 0, 36)]

### Task 4: Assess the quality of water sources

In [20]:
%%sql
# Add your code here
SELECT * FROM water_quality LIMIT 10;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
10 rows affected.

[(0, 0, 1),
 (1, 1, 1),
 (2, 5, 1),
 (3, 10, 1),
 (4, 4, 1),
 (5, 0, 1),
 (6, 9, 1),
 (7, 10, 1),
 (8, 2, 1),
 (9, 10, 1)]

## Summary

Notebooks are good tools we can use to develop and analyse results. It is important to organise the workbook well so it is easy to return to at a later stage.

#  

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/ExploreAI_logos/EAI_Blue_Dark.png"  style="width:200px";/>
</div>