In [1]:
%load_ext sql

In [2]:
%sql mysql+pymysql://root:Mysql.003@localhost:3306/md_water_services

In [3]:
%%sql
SHOW VARIABLES LIKE 'secure_file_priv';

 * mysql+pymysql://root:***@localhost:3306/md_water_services
1 rows affected.

[('secure_file_priv', '/var/lib/mysql-files/')]

In [3]:
%%sql

-- To make sure we have the same names, use this query to create the table first, then Import the CSV file:
    
DROP TABLE IF EXISTS `auditor_report`;
CREATE TABLE `auditor_report` (
`location_id` VARCHAR(32),
`type_of_water_source` VARCHAR(64),
`true_water_source_score` int DEFAULT NULL,
`statements` VARCHAR(255)
);

 * mysql+pymysql://root:***@localhost:3306/md_water_services
0 rows affected.
0 rows affected.

[]

In [6]:
from sqlalchemy import create_engine, text

engine = create_engine(
    "mysql+pymysql://root:Mysql.003@localhost:3306/md_water_services",
    connect_args={"local_infile": 1}
)

In [25]:
# with engine.connect() as conn:
#     # Optional: verify LOCAL is allowed
#     print(conn.execute(text("SHOW VARIABLES LIKE 'local_infile';")).all())

#     conn.execute(text("""
#     LOAD DATA LOCAL INFILE '/home/jeremy/Documents/ALX/Data Analytics/Auditor_report.csv'
#     INTO TABLE auditor_report
#     FIELDS TERMINATED BY ',' 
#     ENCLOSED BY '"'
#     LINES TERMINATED BY '\n'
#     IGNORE 1 ROWS
#     (location_id, type_of_water_source, true_water_source_score, statements);
#     """))

[('local_infile', 'ON')]

In [23]:
import pandas as pd
from sqlalchemy import create_engine

df = pd.read_csv("/home/jeremy/Documents/ALX/Data Analytics/Auditor_report.csv", sep=';')
df.head()

,location_id,type_of_water_source,true_water_source_score,statements
0,SoRu34980,well,1,Residents admired the official's commitment to...
1,AkRu08112,well,3,Villagers spoke highly of the official's dedic...
2,AkLu02044,river,0,Villagers were touched by the official's inter...
3,AkHa00421,well,3,"Villagers were moved by the official's visit, ..."
4,SoRu35221,river,0,"A photographer's lens captures the queue, thou..."

In [27]:
with open("/home/jeremy/Documents/ALX/Data Analytics/Auditor_report.csv", encoding="utf-8", errors="replace") as f:
    for i, line in enumerate(f, start=1):
        if i <= 10:  # adjust range to include line 4 and neighbors
            print(f"{i}: {line.rstrip()}")

1: location_id; type_of_water_source; true_water_source_score; statements
2: SoRu34980;well;1;Residents admired the official's commitment to enhancing urban life, praising their cooperative and inclusive approach.
3: AkRu08112;well;3;Villagers spoke highly of the official's dedication and genuine interest in their lives, fostering a sense of belonging and appreciation.
4: AkLu02044;river;0;Villagers were touched by the official's interactions, noting their humility, strong work ethic, and respectful attitude.
5: AkHa00421;well;3;Villagers were moved by the official's visit, praising their hard work, humility, and the profound sense of connection they fostered.
6: SoRu35221;river;0;A photographer's lens captures the queue, though his own struggle for water is a hidden part of the story.
7: HaAm16170;well;1;With an open heart, the official created an atmosphere of unity and familial camaraderie among the villagers.
8: AkRu04812;well;3;The official's presence left an indelible mark, reflecting their humility, dedication, and the genuine connections they nurtured.
9: AkRu08304;well;3;The official's interactions resonated deeply with the villagers, leaving a lasting impression of respect and camaraderie.
10: AkRu05107;well;2;Villagers spoke highly of the official's dedication and genuine interest in their lives, fostering a sense of belonging and appreciation.

In [29]:
import pandas as pd
from sqlalchemy import create_engine
# import janitor

# Read CSV
df = pd.read_csv("/home/jeremy/Documents/ALX/Data Analytics/Auditor_report.csv", sep=';')

# Clean column names: strip whitespace and optionally lower / normalize
df.columns = df.columns.str.strip()

# (Optional) if you want to enforce the exact names:
df = df.rename(columns={
    "location_id": "location_id",
    "type_of_water_source": "type_of_water_source",
    "true_water_source_score": "true_water_source_score",
    "statements": "statements"
})

# Connect
engine = create_engine("mysql+pymysql://root:Mysql.003@localhost:3306/md_water_services", connect_args={"local_infile": 1})

# Append into existing table
df.to_sql("auditor_report", con=engine, if_exists="append", index=False)

1620

In [ ]:
# %%sql

# LOAD DATA INFILE '/home/jeremy/Documents/ALX/Data Analytics/Auditor_report.csv'
# INTO TABLE auditor_report
# FIELDS TERMINATED BY ',' 
# ENCLOSED BY '"' 
# LINES TERMINATED BY '\n'
# IGNORE 1 ROWS
# (location_id, type_of_water_source, true_water_source_score, statements);

In [4]:
%%sql

SELECT * FROM auditor_report LIMIT 10;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
10 rows affected.

[('SoRu34980', 'well', 1, "Residents admired the official's commitment to enhancing urban life, praising their cooperative and inclusive approach."),
 ('AkRu08112', 'well', 3, "Villagers spoke highly of the official's dedication and genuine interest in their lives, fostering a sense of belonging and appreciation."),
 ('AkLu02044', 'river', 0, "Villagers were touched by the official's interactions, noting their humility, strong work ethic, and respectful attitude."),
 ('AkHa00421', 'well', 3, "Villagers were moved by the official's visit, praising their hard work, humility, and the profound sense of connection they fostered."),
 ('SoRu35221', 'river', 0, "A photographer's lens captures the queue, though his own struggle for water is a hidden part of the story."),
 ('HaAm16170', 'well', 1, 'With an open heart, the official created an atmosphere of unity and familial camaraderie among the villagers.'),
 ('AkRu04812', 'well', 3, "The official's presence left an indelible mark, reflecting their humility, dedication, and the genuine connections they nurtured."),
 ('AkRu08304', 'well', 3, "The official's interactions resonated deeply with the villagers, leaving a lasting impression of respect and camaraderie."),
 ('AkRu05107', 'well', 2, "Villagers spoke highly of the official's dedication and genuine interest in their lives, fostering a sense of belonging and appreciation."),
 ('AkRu05215', 'well', 3, "Villagers admired the official's visit for its respectful interactions, hard work, and genuine concern.")]

In [5]:
%%sql

DESCRIBE auditor_report;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
4 rows affected.

[('location_id', 'varchar(32)', 'YES', '', None, ''),
 ('type_of_water_source', 'varchar(64)', 'YES', '', None, ''),
 ('true_water_source_score', 'int(11)', 'YES', '', None, ''),
 ('statements', 'varchar(255)', 'YES', '', None, '')]

In [6]:
%%sql

SELECT 
    location_id, true_water_source_score
FROM auditor_report
LIMIT 10;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
10 rows affected.

[('SoRu34980', 1),
 ('AkRu08112', 3),
 ('AkLu02044', 0),
 ('AkHa00421', 3),
 ('SoRu35221', 0),
 ('HaAm16170', 1),
 ('AkRu04812', 3),
 ('AkRu08304', 3),
 ('AkRu05107', 2),
 ('AkRu05215', 3)]

In [7]:
%%sql
SELECT * FROM visits LIMIT 5;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
5 rows affected.

[(0, 'SoIl32582', 'SoIl32582224', datetime.datetime(2021, 1, 1, 9, 10), 1, 15, 12),
 (1, 'KiRu28935', 'KiRu28935224', datetime.datetime(2021, 1, 1, 9, 17), 1, 0, 46),
 (2, 'HaRu19752', 'HaRu19752224', datetime.datetime(2021, 1, 1, 9, 36), 1, 62, 40),
 (3, 'AkLu01628', 'AkLu01628224', datetime.datetime(2021, 1, 1, 9, 53), 1, 0, 1),
 (4, 'AkRu03357', 'AkRu03357224', datetime.datetime(2021, 1, 1, 10, 11), 1, 28, 14)]

In [43]:
%%sql
SELECT * FROM water_quality LIMIT 5;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
5 rows affected.

[(0, 0, 1), (1, 1, 1), (2, 5, 1), (3, 10, 1), (4, 4, 1)]

In [49]:
%%sql

# SELECT 
#     ar.location_id AS audit_location,
#     ar.true_water_source_score,
#     ar.location_id AS visit_location,
#     v.record_id,
#     ar.true_water_source_score AS subjective_quality_score
# FROM auditor_report AS ar
# JOIN visits AS v 
# ON ar.location_id = v.location_id
# LIMIT 10;

SELECT 
    ar.location_id AS audit_location,
    ar.true_water_source_score,
    ar.location_id AS visit_location,
    v.record_id,
    wq.subjective_quality_score
FROM auditor_report AS ar
JOIN visits AS v ON ar.location_id = v.location_id
JOIN water_quality AS wq ON wq.record_id = v.record_id
LIMIT 10;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
10 rows affected.

[('SoRu34980', 1, 'SoRu34980', 5185, 1),
 ('AkRu08112', 3, 'AkRu08112', 59367, 3),
 ('AkLu02044', 0, 'AkLu02044', 37379, 0),
 ('AkHa00421', 3, 'AkHa00421', 51627, 3),
 ('SoRu35221', 0, 'SoRu35221', 28758, 0),
 ('HaAm16170', 1, 'HaAm16170', 31048, 1),
 ('AkRu04812', 3, 'AkRu04812', 1513, 3),
 ('AkRu08304', 3, 'AkRu08304', 1218, 3),
 ('AkRu05107', 2, 'AkRu05107', 8322, 2),
 ('AkRu05215', 3, 'AkRu05215', 21160, 10)]

In [53]:
%%sql

SELECT 
    ar.location_id,
    ar.true_water_source_score AS auditor_score,
    v.record_id,
    wq.subjective_quality_score AS surveyor_score
FROM auditor_report AS ar
JOIN visits AS v ON ar.location_id = v.location_id
JOIN water_quality AS wq ON wq.record_id = v.record_id
LIMIT 10;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
10 rows affected.

[('SoRu34980', 1, 5185, 1),
 ('AkRu08112', 3, 59367, 3),
 ('AkLu02044', 0, 37379, 0),
 ('AkHa00421', 3, 51627, 3),
 ('SoRu35221', 0, 28758, 0),
 ('HaAm16170', 1, 31048, 1),
 ('AkRu04812', 3, 1513, 3),
 ('AkRu08304', 3, 1218, 3),
 ('AkRu05107', 2, 8322, 2),
 ('AkRu05215', 3, 21160, 10)]

In [55]:
%%sql

-- Total rows (should be 1620 if that's the full join result)
    
SELECT COUNT(*) AS total_rows
FROM (
    SELECT 
        ar.location_id,
        ar.true_water_source_score AS auditor_score,
        v.record_id,
        wq.subjective_quality_score AS surveyor_score
    FROM auditor_report AS ar
    JOIN visits AS v ON ar.location_id = v.location_id
    JOIN water_quality AS wq ON wq.record_id = v.record_id
) AS sub;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
1 rows affected.

[(2698,)]

In [56]:
%%sql

-- Rows where the two scores agree

SELECT COUNT(*) AS agreeing_rows
FROM (
    SELECT 
        ar.location_id,
        ar.true_water_source_score AS auditor_score,
        v.record_id,
        wq.subjective_quality_score AS surveyor_score
    FROM auditor_report AS ar
    JOIN visits AS v ON ar.location_id = v.location_id
    JOIN water_quality AS wq ON wq.record_id = v.record_id) AS Sub
WHERE auditor_score = surveyor_score;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
1 rows affected.

[(2505,)]

In [62]:
%%sql

-- Rows where the two scores agree

SELECT COUNT(*) AS agreeing_rows
FROM (
    SELECT 
        ar.location_id,
        ar.true_water_source_score AS auditor_score,
        v.record_id,
        wq.subjective_quality_score AS surveyor_score,
    FROM auditor_report AS ar
    JOIN visits AS v 
        ON ar.location_id = v.location_id 
        AND v.visit_count = 1
    JOIN water_quality AS wq 
        ON wq.record_id = v.record_id
) AS Sub
WHERE auditor_score = surveyor_score;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
1 rows affected.

[(1518,)]

In [67]:
%%sql

SELECT 
    ar.location_id,
    ar.true_water_source_score AS auditor_score,
    v.record_id,
    wq.subjective_quality_score AS surveyor_score
FROM auditor_report AS ar
JOIN visits AS v 
    ON ar.location_id = v.location_id 
    AND v.visit_count = 1
JOIN water_quality AS wq 
    ON wq.record_id = v.record_id
WHERE ar.true_water_source_score <> wq.subjective_quality_score
LIMIT 10;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
10 rows affected.

[('AkRu05215', 3, 21160, 10),
 ('KiRu29290', 3, 7938, 10),
 ('KiHa22748', 9, 43140, 10),
 ('SoRu37841', 6, 18495, 10),
 ('KiRu27884', 1, 33931, 10),
 ('KiZu31170', 9, 17950, 10),
 ('KiZu31370', 3, 36864, 10),
 ('AkRu06495', 2, 45924, 10),
 ('HaRu17528', 1, 30524, 10),
 ('SoRu38331', 3, 13192, 10)]

In [66]:
%%sql

SELECT COUNT(*) AS incorrect_count
FROM (
    SELECT 
        ar.location_id,
        ar.true_water_source_score AS auditor_score,
        v.record_id,
        wq.subjective_quality_score AS surveyor_score
    FROM auditor_report AS ar
    JOIN visits AS v 
        ON ar.location_id = v.location_id 
        AND v.visit_count = 1
    JOIN water_quality AS wq 
        ON wq.record_id = v.record_id
    WHERE ar.true_water_source_score <> wq.subjective_quality_score) AS Sub;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
1 rows affected.

[(102,)]

In [68]:
%%sql

-- Percentage agreement

WITH joined AS (
        SELECT 
            ar.location_id,
            ar.true_water_source_score AS auditor_score,
            v.record_id,
            wq.subjective_quality_score AS surveyor_score
        FROM auditor_report AS ar
        JOIN visits AS v ON ar.location_id = v.location_id
        JOIN water_quality AS wq ON wq.record_id = v.record_id
    ),
    totals AS (
        SELECT COUNT(*) AS total_rows FROM joined
    ),
    agreeing AS (
        SELECT COUNT(*) AS agreeing_rows 
        FROM joined 
        WHERE auditor_score = surveyor_score
    )
SELECT 
  a.agreeing_rows,
  (a.agreeing_rows * 100.0 / NULLIF(t.total_rows, 0)) AS pct_agreement
FROM agreeing a
CROSS JOIN totals t;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
1 rows affected.

[(2505, Decimal('92.84655'))]

In [70]:
%%sql

SELECT 
    ar.location_id,
    v.record_id,
    ar.type_of_water_source AS auditor_source,
    ws.type_of_water_source AS survey_source,
    ar.true_water_source_score AS auditor_score,
    wq.subjective_quality_score AS surveyor_score
FROM auditor_report AS ar
JOIN visits AS v 
    ON ar.location_id = v.location_id 
    AND v.visit_count = 1
JOIN water_quality AS wq 
    ON wq.record_id = v.record_id
JOIN water_source AS ws
    ON ws.source_id = v.source_id
WHERE ar.true_water_source_score <> wq.subjective_quality_score
LIMIT 10;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
10 rows affected.

[('AkRu05215', 21160, 'well', 'well', 3, 10),
 ('KiRu29290', 7938, 'shared_tap', 'shared_tap', 3, 10),
 ('KiHa22748', 43140, 'tap_in_home_broken', 'tap_in_home_broken', 9, 10),
 ('SoRu37841', 18495, 'shared_tap', 'shared_tap', 6, 10),
 ('KiRu27884', 33931, 'well', 'well', 1, 10),
 ('KiZu31170', 17950, 'tap_in_home_broken', 'tap_in_home_broken', 9, 10),
 ('KiZu31370', 36864, 'shared_tap', 'shared_tap', 3, 10),
 ('AkRu06495', 45924, 'well', 'well', 2, 10),
 ('HaRu17528', 30524, 'well', 'well', 1, 10),
 ('SoRu38331', 13192, 'shared_tap', 'shared_tap', 3, 10)]

In [72]:
%%sql

SELECT COUNT(*) AS number_of_records
FROM (
    SELECT 
    ar.location_id,
        v.record_id,
        ar.type_of_water_source AS auditor_source,
        ws.type_of_water_source AS survey_source,
        ar.true_water_source_score AS auditor_score,
        wq.subjective_quality_score AS surveyor_score
    FROM auditor_report AS ar
    JOIN visits AS v 
        ON ar.location_id = v.location_id 
        AND v.visit_count = 1
    JOIN water_quality AS wq 
        ON wq.record_id = v.record_id
    JOIN water_source AS ws
        ON ws.source_id = v.source_id
    WHERE ar.true_water_source_score <> wq.subjective_quality_score) AS Sub;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
1 rows affected.

[(102,)]

In [73]:
%%sql

SELECT 
    ar.location_id,
    v.record_id,
    v.assigned_employee_id,
    ar.true_water_source_score AS auditor_score,
    wq.subjective_quality_score AS surveyor_score
FROM auditor_report AS ar
JOIN visits AS v 
    ON ar.location_id = v.location_id 
    AND v.visit_count = 1
JOIN water_quality AS wq 
    ON wq.record_id = v.record_id
WHERE ar.true_water_source_score <> wq.subjective_quality_score
LIMIT 10;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
10 rows affected.

[('AkRu05215', 21160, 34, 3, 10),
 ('KiRu29290', 7938, 1, 3, 10),
 ('KiHa22748', 43140, 1, 9, 10),
 ('SoRu37841', 18495, 34, 6, 10),
 ('KiRu27884', 33931, 1, 1, 10),
 ('KiZu31170', 17950, 5, 9, 10),
 ('KiZu31370', 36864, 48, 3, 10),
 ('AkRu06495', 45924, 1, 2, 10),
 ('HaRu17528', 30524, 18, 1, 10),
 ('SoRu38331', 13192, 5, 3, 10)]

In [104]:
%%sql

SELECT 
    ar.location_id,
    v.record_id,
    e.employee_name,
    ar.true_water_source_score AS auditor_score,
    wq.subjective_quality_score AS surveyor_score
FROM auditor_report AS ar
JOIN visits AS v 
    ON ar.location_id = v.location_id 
    AND v.visit_count = 1
JOIN water_quality AS wq 
    ON wq.record_id = v.record_id
JOIN employee AS e
    ON e.assigned_employee_id = v.assigned_employee_id
WHERE ar.true_water_source_score <> wq.subjective_quality_score
LIMIT 10;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
10 rows affected.

[('AkRu05215', 21160, 'Rudo Imani', 3, 10),
 ('KiRu29290', 7938, 'Bello Azibo', 3, 10),
 ('KiHa22748', 43140, 'Bello Azibo', 9, 10),
 ('SoRu37841', 18495, 'Rudo Imani', 6, 10),
 ('KiRu27884', 33931, 'Bello Azibo', 1, 10),
 ('KiZu31170', 17950, 'Zuriel Matembo', 9, 10),
 ('KiZu31370', 36864, 'Yewande Ebele', 3, 10),
 ('AkRu06495', 45924, 'Bello Azibo', 2, 10),
 ('HaRu17528', 30524, 'Jengo Tumaini', 1, 10),
 ('SoRu38331', 13192, 'Zuriel Matembo', 3, 10)]

In [102]:
%%sql

WITH Incorrect_records AS (
    SELECT 
        ar.location_id,
        v.record_id,
        e.employee_name,
        ar.true_water_source_score AS auditor_score,
        wq.subjective_quality_score AS surveyor_score
    FROM auditor_report AS ar
    JOIN visits AS v 
        ON ar.location_id = v.location_id 
        AND v.visit_count = 1
    JOIN water_quality AS wq 
        ON wq.record_id = v.record_id
    JOIN employee AS e
        ON e.assigned_employee_id = v.assigned_employee_id
    WHERE ar.true_water_source_score <> wq.subjective_quality_score
)
SELECT * FROM Incorrect_records;

-- 102 rows affected.

 * mysql+pymysql://root:***@localhost:3306/md_water_services
102 rows affected.
0 rows affected.

[]

In [88]:
%%sql

CREATE OR REPLACE VIEW Incorrect_records AS
SELECT 
    ar.location_id,
    v.record_id,
    e.employee_name,
    ar.true_water_source_score AS auditor_score,
    wq.subjective_quality_score AS surveyor_score,
    ar.statements AS statements
FROM auditor_report AS ar
JOIN visits AS v 
    ON ar.location_id = v.location_id 
JOIN water_quality AS wq 
    ON wq.record_id = v.record_id
JOIN employee AS e
    ON e.assigned_employee_id = v.assigned_employee_id
WHERE v.visit_count = 1
    AND ar.true_water_source_score <> wq.subjective_quality_score;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
0 rows affected.

[]

In [100]:
%%sql
-- 102 rows affected.
SELECT * FROM Incorrect_records LIMIT 10;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
10 rows affected.

[('AkRu05215', 21160, 'Rudo Imani', 3, 10, "Villagers admired the official's visit for its respectful interactions, hard work, and genuine concern."),
 ('KiRu29290', 7938, 'Bello Azibo', 3, 10, 'A young artist sketches the faces in the queue, capturing the weariness of daily hours spent waiting for water.'),
 ('KiHa22748', 43140, 'Bello Azibo', 9, 10, "A young girl's hopeful eyes are clouded by mistrust, her innocence tarnished by the corrupt system."),
 ('SoRu37841', 18495, 'Rudo Imani', 6, 10, "The official's respectful and diligent presence was met with heartfelt appreciation, creating a sense of closeness with the villagers."),
 ('KiRu27884', 33931, 'Bello Azibo', 1, 10, "A traditional healer's empathy turns to bitterness, knowing that corrupt practices harm her community."),
 ('KiZu31170', 17950, 'Zuriel Matembo', 9, 10, 'A community leader stood with his people, expressing concern for the water quality and the time lost in queues.",'),
 ('KiZu31370', 36864, 'Yewande Ebele', 3, 10, "With a keen understanding of urban challenges, the official's visit left a lasting impression of respect and commitment."),
 ('AkRu06495', 45924, 'Bello Azibo', 2, 10, 'A healthcare worker in the queue expressed fears about water-borne diseases, her face etched with worry.",'),
 ('HaRu17528', 30524, 'Jengo Tumaini', 1, 10, 'With humility and diligence, the official formed bonds with the villagers that felt like genuine family connections.'),
 ('SoRu38331', 13192, 'Zuriel Matembo', 3, 10, 'An unsettling atmosphere surrounded the official, as villagers shared their experiences of arrogance and lack of dedication. The mention of cash exchanges only intensified their doubts.')]

In [87]:
%%sql

CREATE VIEW Incorrect_records_two AS (
SELECT
    auditor_report.location_id,
    visits.record_id,
    employee.employee_name,
    auditor_report.true_water_source_score AS auditor_score,
    wq.subjective_quality_score AS surveyor_score,
    auditor_report.statements AS statements
FROM auditor_report
JOIN visits
    ON auditor_report.location_id = visits.location_id
JOIN water_quality AS wq
    ON visits.record_id = wq.record_id
JOIN employee
    ON employee.assigned_employee_id = visits.assigned_employee_id
WHERE
    visits.visit_count =1
    AND auditor_report.true_water_source_score != wq.subjective_quality_score);

 * mysql+pymysql://root:***@localhost:3306/md_water_services
0 rows affected.

[]

In [79]:
%%sql

SELECT COUNT(DISTINCT employee_name) AS number_of_employees
FROM Incorrect_records;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
1 rows affected.

[(17,)]

In [80]:
%%sql

SELECT 
    employee_name,
    COUNT(*) AS mistakes_count
FROM Incorrect_records
GROUP BY employee_name
ORDER BY mistakes_count DESC, employee_name;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
17 rows affected.

[('Bello Azibo', 26),
 ('Malachi Mavuso', 21),
 ('Zuriel Matembo', 17),
 ('Lalitha Kaburi', 7),
 ('Rudo Imani', 5),
 ('Enitan Zuri', 4),
 ('Farai Nia', 4),
 ('Gamba Shani', 3),
 ('Jengo Tumaini', 3),
 ('Makena Thabo', 3),
 ('Yewande Ebele', 3),
 ('Deka Osumare', 1),
 ('Ona Sefu', 1),
 ('Pili Zola', 1),
 ('Thandiwe Kito', 1),
 ('Usafi Ayo', 1),
 ('Xola Uzuri', 1)]

In [84]:
%%sql

DROP TABLE IF EXISTS error_count;
CREATE TABLE error_count (
    id INT PRIMARY KEY AUTO_INCREMENT,
    employee_name VARCHAR(100),
    mistakes_count INT
);

INSERT INTO error_count (employee_name, mistakes_count)
SELECT 
    employee_name,
    COUNT(*) AS mistakes_count
FROM Incorrect_records
GROUP BY employee_name
ORDER BY mistakes_count DESC, employee_name;

SELECT * FROM error_count;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
0 rows affected.
0 rows affected.
17 rows affected.
17 rows affected.

[(1, 'Bello Azibo', 26),
 (2, 'Malachi Mavuso', 21),
 (3, 'Zuriel Matembo', 17),
 (4, 'Lalitha Kaburi', 7),
 (5, 'Rudo Imani', 5),
 (6, 'Enitan Zuri', 4),
 (7, 'Farai Nia', 4),
 (8, 'Gamba Shani', 3),
 (9, 'Jengo Tumaini', 3),
 (10, 'Makena Thabo', 3),
 (11, 'Yewande Ebele', 3),
 (12, 'Deka Osumare', 1),
 (13, 'Ona Sefu', 1),
 (14, 'Pili Zola', 1),
 (15, 'Thandiwe Kito', 1),
 (16, 'Usafi Ayo', 1),
 (17, 'Xola Uzuri', 1)]

In [91]:
%%sql

WITH error_count AS (
    SELECT
        employee_name,
        COUNT(employee_name) AS number_of_mistakes
    FROM
        Incorrect_records
    GROUP BY
        employee_name)
SELECT * FROM error_count;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
17 rows affected.

[('Bello Azibo', 26),
 ('Deka Osumare', 1),
 ('Enitan Zuri', 4),
 ('Farai Nia', 4),
 ('Gamba Shani', 3),
 ('Jengo Tumaini', 3),
 ('Lalitha Kaburi', 7),
 ('Makena Thabo', 3),
 ('Malachi Mavuso', 21),
 ('Ona Sefu', 1),
 ('Pili Zola', 1),
 ('Rudo Imani', 5),
 ('Thandiwe Kito', 1),
 ('Usafi Ayo', 1),
 ('Xola Uzuri', 1),
 ('Yewande Ebele', 3),
 ('Zuriel Matembo', 17)]

In [92]:
%%sql

WITH error_count AS (
    SELECT
        employee_name,
        COUNT(employee_name) AS number_of_mistakes
    FROM
        Incorrect_records
    GROUP BY
        employee_name)
SELECT 
    AVG(number_of_mistakes) AS average_mistakes
FROM error_count;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
1 rows affected.

[(Decimal('6.0000'),)]

In [93]:
%%sql

-- Employees who made most mistakes

# WITH error_count AS (
#     SELECT
#         employee_name,
#         COUNT(employee_name) AS number_of_mistakes
#     FROM
#         Incorrect_records
#     GROUP BY
#         employee_name)
SELECT * FROM error_count
WHERE mistakes_count > 6;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
4 rows affected.

[(1, 'Bello Azibo', 26),
 (2, 'Malachi Mavuso', 21),
 (3, 'Zuriel Matembo', 17),
 (4, 'Lalitha Kaburi', 7)]

In [94]:
%%sql

SELECT * FROM Incorrect_records
WHERE employee_name IN ("Bello Azibo","Malachi Mavuso","Zuriel Matembo","Lalitha Kaburi");

 * mysql+pymysql://root:***@localhost:3306/md_water_services
71 rows affected.

[('KiRu29290', 7938, 'Bello Azibo', 3, 10, 'A young artist sketches the faces in the queue, capturing the weariness of daily hours spent waiting for water.'),
 ('KiHa22748', 43140, 'Bello Azibo', 9, 10, "A young girl's hopeful eyes are clouded by mistrust, her innocence tarnished by the corrupt system."),
 ('KiRu27884', 33931, 'Bello Azibo', 1, 10, "A traditional healer's empathy turns to bitterness, knowing that corrupt practices harm her community."),
 ('KiZu31170', 17950, 'Zuriel Matembo', 9, 10, 'A community leader stood with his people, expressing concern for the water quality and the time lost in queues.",'),
 ('AkRu06495', 45924, 'Bello Azibo', 2, 10, 'A healthcare worker in the queue expressed fears about water-borne diseases, her face etched with worry.",'),
 ('SoRu38331', 13192, 'Zuriel Matembo', 3, 10, 'An unsettling atmosphere surrounded the official, as villagers shared their experiences of arrogance and lack of dedication. The mention of cash exchanges only intensified their doubts.'),
 ('AmAm09607', 55067, 'Malachi Mavuso', 9, 10, 'Villagers spoke of an unsettling encounter with an official who appeared dismissive and detached. The reference to cash transactions added to their growing sense of distrust.'),
 ('AkHa00314', 29407, 'Zuriel Matembo', 9, 10, "A street vendor's sales suffer from time spent waiting, her concern for the water's quality affecting her products."),
 ('KiRu26598', 28874, 'Malachi Mavuso', 9, 10, "A teenager's dreams are tempered by reality, her future threatened by the corrupt practices she sees around her."),
 ('KiIs23853', 55796, 'Bello Azibo', 2, 10, "Villagers' wary accounts of an official's arrogance and detachment from their concerns raised suspicions. The mention of cash changing hands further tainted their perception."),
 ('KiIs24083', 28404, 'Lalitha Kaburi', 2, 10, "A fisherman's anger boils beneath the surface, his livelihood threatened by the corrupt who tamper with water."),
 ('AmAm09631', 14211, 'Malachi Mavuso', 9, 10, 'An elderly man lamented the endless queue, recalling times when water was abundant and clean.",'),
 ('KiRu30343', 51075, 'Zuriel Matembo', 2, 10, "A university student's studies suffer from hours in line, dreams clouded by the daily reality of dirty water."),
 ('AkRu04116', 53182, 'Malachi Mavuso', 3, 10, "A student's ambition is fueled by the daily water struggle, his determination to overcome evident in the queue."),
 ('AmPw12272', 50239, 'Malachi Mavuso', 9, 10, "A subsistence farmer's worry for his crops extends to the queue, the struggle for water a shared community burden."),
 ('AmRu14691', 40443, 'Bello Azibo', 2, 10, "An artisan's creative mind is stifled by the wait, thoughts of craft overshadowed by concern for water quality."),
 ('KiRu29556', 5645, 'Bello Azibo', 2, 10, "A field worker's endurance is tested by anger, his toil a reminder of the corrupt practices that affect him daily."),
 ('KiZu30847', 57038, 'Bello Azibo', 9, 10, "A traveling trader's pause in the village includes a wait for water, his face reflecting the hardship of the road."),
 ('AkHa00363', 25387, 'Bello Azibo', 0, 10, "A local mason's strong back is bent by the wait for water, his concerns for quality reflecting a broader challenge."),
 ('SoKo33094', 16159, 'Lalitha Kaburi', 0, 10, "A traveling trader's pause in the village includes a wait for water, his face reflecting the hardship of the road."),
 ('HaSe21323', 26260, 'Bello Azibo', 3, 10, 'Villagers spoke of an unsettling encounter with an official who appeared dismissive and detached. The reference to cash transactions added to their growing sense of distrust.'),
 ('AmDa11466', 17086, 'Malachi Mavuso', 1, 10, "A seasonal laborer's exhaustion is compounded by the wait, the water's quality a reminder of the harsh reality."),
 ('KiRu27364', 38102, 'Zuriel Matembo', 0, 10, 'A mother of three stood in line for hours, worried about the water\'s color and what it might mean for her children\'s health.",'),
 ('AkRu05880', 12705, 'Zuriel Matembo', 7, 10, "Villagers' wary accounts of an official's arrogance and detachment from their concerns raised suspicions. The allusion to cash changing hands deepened their skepticism."),
 ('KiRu29696', 251, 'Bello Azibo', 2, 10, "A grandmother's wisdom and patience in the queue are lessons in resilience, though her concern for water quality lingers."),
 ('KiRu27065', 29772, 'Bello Azibo', 0, 10, 'Villagers expressed their discomfort with an official who displayed a haughty demeanor and negligence. The mention of cash transactions deepened their growing sense of unease.'),
 ('KiRu25347', 54560, 'Malachi Mavuso', 2, 10, 'Villagers expressed their discontent with an official who appeared dismissive and neglectful. The mention of cash changing hands added to their growing sense of distrust.'),
 ('AmRu14364', 42302, 'Bello Azibo', 2, 10, "A local musician's songs of joy are replaced with melodies of despair, inspired by the corrupt who control the water."),
 ('KiZu31100', 31033, 'Bello Azibo', 3, 10, "A young girl's hopeful eyes are clouded by mistrust, her innocence tarnished by the corrupt system."),
 ('AkRu03973', 49033, 'Zuriel Matembo', 3, 10, "A health worker's frustration grows in the queue, knowing that corruption affects even the health of her community."),
 ('SoKo33333', 56898, 'Bello Azibo', 2, 10, "A community volunteer's dedication is tested by bitterness, her efforts often thwarted by corrupt officials."),
 ('SoIl32575', 3116, 'Zuriel Matembo', 1, 10, 'Villagers recounted unsettling encounters with an official known for their arrogance and avoidance of responsibilities. The mention of cash changing hands added to their apprehension and distrust.'),
 ('SoMa34366', 26183, 'Zuriel Matembo', 9, 10, "A soldier's disciplined waiting contrasts with the chaos of the line, his face betraying concern for his family back home."),
 ('AkRu04935', 16410, 'Lalitha Kaburi', 3, 10, "A child's homework is done in the queue, a stark reminder of the daily impact on education due to the water situation."),
 ('HaRu19244', 25725, 'Zuriel Matembo', 2, 10, "A politician's promises ring hollow in the queue, his absence noted by those waiting for clean water."),
 ('SoRu36708', 7252, 'Bello Azibo', 3, 10, "A local mason's strong back is bent by the wait for water, his concerns for quality reflecting a broader challenge."),
 ('AkRu04508', 37357, 'Bello Azibo', 1, 10, 'An unsettling atmosphere surrounded the official, as villagers shared their experiences of arrogance and lack of dedication. The mention of cash exchanges only intensified their doubts.'),
 ('AkRu03848', 43412, 'Bello Azibo', 3, 10, "A local tailor's creativity is stifled by frustration, his work impacted by the corruption that taints the water."),
 ('AkLu02500', 24797, 'Bello Azibo', 3, 10, "A tour guide's enthusiasm is dampened by the water situation, his own wait in line a daily challenge."),
 ('AkRu07310', 37457, 'Lalitha Kaburi', 9, 10, 'Villagers spoke of their unsettling encounters with an official who seemed indifferent and uninterested, hinting at potential improprieties involving cash exchanges.'),
 ('AmRu14245', 47227, 'Zuriel Matembo', 9, 10, "A retiree's patient waiting masks frustration with the water situation, her stories filled with memories of better days."),
 ('KiZu30932', 49082, 'Malachi Mavuso', 9, 10, "A village teacher frets over lost class time, her concern for her students mixed with worry for the water's quality."),
 ('KiAm22092', 8186, 'Bello Azibo', 9, 10, "A mother-to-be's gentle waiting in line is filled with hope and concern, the water's quality a looming worry."),
 ('KiRu29147', 3179, 'Malachi Mavuso', 0, 10, 'A healthcare worker in the queue expressed fears about water-borne diseases, her face etched with worry.",'),
 ('SoIl32770', 7548, 'Lalitha Kaburi', 0, 10, 'A factory worker\'s rough hands held empty containers, the long wait for water a symbol of daily struggles.",'),
 ('KiRu29639', 45008, 'Bello Azibo', 1, 10, "An unsettling atmosphere prevailed as villagers shared stories of an official's arrogance and perceived corruption. The mention of cash exchanges only intensified their concerns."),
 ('KiRu29329', 11962, 'Lalitha Kaburi', 0, 10, "Suspicion colored villagers' descriptions of an official's aloof demeanor and apparent laziness. The reference to cash transactions cast doubt on their motives."),
 ('KiMr24919', 23328, 'Bello Azibo', 1, 10, "Suspicion and unease colored the villagers' accounts of an official's haughty behavior and potential corruption. The mention of cash changing hands added to their apprehension."),
 ('HaRu20005', 23715, 'Malachi Mavuso', 1, 10, "A herdboy's simplicity is marred by disillusionment, his youthful trust eroded by the corrupt system around him."),
 ('AkHa00053', 28869, 'Malachi Mavuso', 9, 10, "A craftsman's pride is dimmed by resentment, his artistry affected by the corrupt who control the resources."),
 ('HaSe20888', 57001, 'Zuriel Matembo', 9, 10, "Suspicion and unease colored the villagers' accounts of an official's haughty behavior and potential corruption. The mention of cash changing hands added to their apprehension."),
 ('SoRu38401', 20163, 'Zuriel Matembo', 2, 10, "A village chief's dignified wait speaks of leadership and understanding, though the struggle for water weighs heavily."),
 ('AmRu14887', 31028, 'Bello Azibo', 9, 10, 'Villagers expressed their discomfort with an official who displayed a haughty demeanor and negligence. The mention of cash transactions deepened their growing sense of unease.'),
 ('HaRu20146', 36818, 'Zuriel Matembo', 2, 10, "An air of mistrust hung heavy as villagers described an official's aloof behavior and potential impropriety. The whisper of cash exchanges only fueled their apprehension."),
 ('AkRu05741', 19961, 'Bello Azibo', 3, 10, 'An air of mistrust surrounded the official, as villagers spoke of laziness and hints of corruption. The mention of cash passing discreetly only deepened their concerns.'),
 ('AkKi00847', 5889, 'Zuriel Matembo', 3, 10, 'A young student missed school to fetch water, frustrated by the long wait and murky appearance.",'),
 ('HaYa21395', 28729, 'Bello Azibo', 2, 10, "A university student's studies suffer from hours in line, dreams clouded by the daily reality of dirty water."),
 ('AkRu03245', 3233, 'Malachi Mavuso', 2, 10, "A traditional basket weaver's hands rest in line, her daily work paused by the struggle for water."),
 ('HaRu20544', 33833, 'Lalitha Kaburi', 1, 10, "A traditional healer's thoughtful presence in the line speaks of understanding and empathy for the shared struggle."),
 ('KiRu30640', 47474, 'Malachi Mavuso', 2, 10, "A local mason's strength is tested by frustration, his work hindered by the corruption that controls resources."),
 ('SoMa34211', 24867, 'Malachi Mavuso', 1, 10, 'A teenager\'s dreams of studying were overshadowed by daily hours in the water line, frustration growing with each day.",'),
 ('SoRu38535', 44282, 'Zuriel Matembo', 0, 10, "A teenager's dreams are tempered by reality, her future threatened by the corrupt practices she sees around her."),
 ('SoRu36566', 11097, 'Malachi Mavuso', 3, 10, 'A small business owner counts lost hours as he stands in line, worrying about the water quality affecting his products.'),
 ('AmRu15719', 34822, 'Malachi Mavuso', 9, 10, "Suspicion and unease colored the villagers' accounts of an official's haughty behavior and potential corruption. The mention of cash changing hands added to their apprehension."),
 ('AkRu08640', 39250, 'Malachi Mavuso', 3, 10, "A local preacher's prayers are tinged with anger, seeking justice from the corruption that plagues his flock."),
 ('AmRu13226', 55271, 'Malachi Mavuso', 9, 10, "A seasonal worker's exhaustion is fueled by anger, his daily struggle intensified by the corrupt system."),
 ('AmPw12480', 47831, 'Zuriel Matembo', 5, 10, "A village chief's dignity is marred by frustration, his leadership challenged by corruption at higher levels."),
 ('AmRu14842', 47055, 'Bello Azibo', 2, 10, "An elderly woman's weary eyes reflect the toll of daily hours spent in the queue, her thoughts on family back home."),
 ('AkRu03358', 31888, 'Malachi Mavuso', 1, 10, "A traveling trader's pause in the village includes a wait for water, his face reflecting the hardship of the road."),
 ('AmRu13433', 57735, 'Malachi Mavuso', 9, 10, 'A child\'s playful innocence contrasted with the serious faces around, unaware of the water\'s questionable quality.",'),
 ('AmAm09956', 15929, 'Malachi Mavuso', 1, 10, 'An unsettling atmosphere surrounded the official, as villagers shared their experiences of arrogance and lack of dedication. The mention of cash exchanges only intensified their doubts.')]

In [95]:
%%sql

WITH error_count AS (
        SELECT
            employee_name,
            COUNT(*) AS number_of_mistakes
        FROM Incorrect_records
        GROUP BY employee_name
    ),
    suspect_list AS (
        SELECT
            employee_name,
            number_of_mistakes
        FROM error_count
        WHERE number_of_mistakes > (
            SELECT AVG(number_of_mistakes) FROM error_count
        )
    )
SELECT employee_name 
FROM suspect_list;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
4 rows affected.

[('Bello Azibo',),
 ('Lalitha Kaburi',),
 ('Malachi Mavuso',),
 ('Zuriel Matembo',)]

In [96]:
%%sql

WITH error_count AS (
        SELECT
            employee_name,
            COUNT(*) AS number_of_mistakes
        FROM Incorrect_records
        GROUP BY employee_name
    ),
    suspect_list AS (
        SELECT
            employee_name
        FROM error_count
        WHERE number_of_mistakes > (
            SELECT AVG(number_of_mistakes) FROM error_count
        )
    )
SELECT employee_name, location_id, statements
FROM Incorrect_records
WHERE employee_name IN (
    SELECT employee_name FROM suspect_list
);

 * mysql+pymysql://root:***@localhost:3306/md_water_services
71 rows affected.

[('Bello Azibo', 'KiRu29290', 'A young artist sketches the faces in the queue, capturing the weariness of daily hours spent waiting for water.'),
 ('Bello Azibo', 'KiHa22748', "A young girl's hopeful eyes are clouded by mistrust, her innocence tarnished by the corrupt system."),
 ('Bello Azibo', 'KiRu27884', "A traditional healer's empathy turns to bitterness, knowing that corrupt practices harm her community."),
 ('Zuriel Matembo', 'KiZu31170', 'A community leader stood with his people, expressing concern for the water quality and the time lost in queues.",'),
 ('Bello Azibo', 'AkRu06495', 'A healthcare worker in the queue expressed fears about water-borne diseases, her face etched with worry.",'),
 ('Zuriel Matembo', 'SoRu38331', 'An unsettling atmosphere surrounded the official, as villagers shared their experiences of arrogance and lack of dedication. The mention of cash exchanges only intensified their doubts.'),
 ('Malachi Mavuso', 'AmAm09607', 'Villagers spoke of an unsettling encounter with an official who appeared dismissive and detached. The reference to cash transactions added to their growing sense of distrust.'),
 ('Zuriel Matembo', 'AkHa00314', "A street vendor's sales suffer from time spent waiting, her concern for the water's quality affecting her products."),
 ('Malachi Mavuso', 'KiRu26598', "A teenager's dreams are tempered by reality, her future threatened by the corrupt practices she sees around her."),
 ('Bello Azibo', 'KiIs23853', "Villagers' wary accounts of an official's arrogance and detachment from their concerns raised suspicions. The mention of cash changing hands further tainted their perception."),
 ('Lalitha Kaburi', 'KiIs24083', "A fisherman's anger boils beneath the surface, his livelihood threatened by the corrupt who tamper with water."),
 ('Malachi Mavuso', 'AmAm09631', 'An elderly man lamented the endless queue, recalling times when water was abundant and clean.",'),
 ('Zuriel Matembo', 'KiRu30343', "A university student's studies suffer from hours in line, dreams clouded by the daily reality of dirty water."),
 ('Malachi Mavuso', 'AkRu04116', "A student's ambition is fueled by the daily water struggle, his determination to overcome evident in the queue."),
 ('Malachi Mavuso', 'AmPw12272', "A subsistence farmer's worry for his crops extends to the queue, the struggle for water a shared community burden."),
 ('Bello Azibo', 'AmRu14691', "An artisan's creative mind is stifled by the wait, thoughts of craft overshadowed by concern for water quality."),
 ('Bello Azibo', 'KiRu29556', "A field worker's endurance is tested by anger, his toil a reminder of the corrupt practices that affect him daily."),
 ('Bello Azibo', 'KiZu30847', "A traveling trader's pause in the village includes a wait for water, his face reflecting the hardship of the road."),
 ('Bello Azibo', 'AkHa00363', "A local mason's strong back is bent by the wait for water, his concerns for quality reflecting a broader challenge."),
 ('Lalitha Kaburi', 'SoKo33094', "A traveling trader's pause in the village includes a wait for water, his face reflecting the hardship of the road."),
 ('Bello Azibo', 'HaSe21323', 'Villagers spoke of an unsettling encounter with an official who appeared dismissive and detached. The reference to cash transactions added to their growing sense of distrust.'),
 ('Malachi Mavuso', 'AmDa11466', "A seasonal laborer's exhaustion is compounded by the wait, the water's quality a reminder of the harsh reality."),
 ('Zuriel Matembo', 'KiRu27364', 'A mother of three stood in line for hours, worried about the water\'s color and what it might mean for her children\'s health.",'),
 ('Zuriel Matembo', 'AkRu05880', "Villagers' wary accounts of an official's arrogance and detachment from their concerns raised suspicions. The allusion to cash changing hands deepened their skepticism."),
 ('Bello Azibo', 'KiRu29696', "A grandmother's wisdom and patience in the queue are lessons in resilience, though her concern for water quality lingers."),
 ('Bello Azibo', 'KiRu27065', 'Villagers expressed their discomfort with an official who displayed a haughty demeanor and negligence. The mention of cash transactions deepened their growing sense of unease.'),
 ('Malachi Mavuso', 'KiRu25347', 'Villagers expressed their discontent with an official who appeared dismissive and neglectful. The mention of cash changing hands added to their growing sense of distrust.'),
 ('Bello Azibo', 'AmRu14364', "A local musician's songs of joy are replaced with melodies of despair, inspired by the corrupt who control the water."),
 ('Bello Azibo', 'KiZu31100', "A young girl's hopeful eyes are clouded by mistrust, her innocence tarnished by the corrupt system."),
 ('Zuriel Matembo', 'AkRu03973', "A health worker's frustration grows in the queue, knowing that corruption affects even the health of her community."),
 ('Bello Azibo', 'SoKo33333', "A community volunteer's dedication is tested by bitterness, her efforts often thwarted by corrupt officials."),
 ('Zuriel Matembo', 'SoIl32575', 'Villagers recounted unsettling encounters with an official known for their arrogance and avoidance of responsibilities. The mention of cash changing hands added to their apprehension and distrust.'),
 ('Zuriel Matembo', 'SoMa34366', "A soldier's disciplined waiting contrasts with the chaos of the line, his face betraying concern for his family back home."),
 ('Lalitha Kaburi', 'AkRu04935', "A child's homework is done in the queue, a stark reminder of the daily impact on education due to the water situation."),
 ('Zuriel Matembo', 'HaRu19244', "A politician's promises ring hollow in the queue, his absence noted by those waiting for clean water."),
 ('Bello Azibo', 'SoRu36708', "A local mason's strong back is bent by the wait for water, his concerns for quality reflecting a broader challenge."),
 ('Bello Azibo', 'AkRu04508', 'An unsettling atmosphere surrounded the official, as villagers shared their experiences of arrogance and lack of dedication. The mention of cash exchanges only intensified their doubts.'),
 ('Bello Azibo', 'AkRu03848', "A local tailor's creativity is stifled by frustration, his work impacted by the corruption that taints the water."),
 ('Bello Azibo', 'AkLu02500', "A tour guide's enthusiasm is dampened by the water situation, his own wait in line a daily challenge."),
 ('Lalitha Kaburi', 'AkRu07310', 'Villagers spoke of their unsettling encounters with an official who seemed indifferent and uninterested, hinting at potential improprieties involving cash exchanges.'),
 ('Zuriel Matembo', 'AmRu14245', "A retiree's patient waiting masks frustration with the water situation, her stories filled with memories of better days."),
 ('Malachi Mavuso', 'KiZu30932', "A village teacher frets over lost class time, her concern for her students mixed with worry for the water's quality."),
 ('Bello Azibo', 'KiAm22092', "A mother-to-be's gentle waiting in line is filled with hope and concern, the water's quality a looming worry."),
 ('Malachi Mavuso', 'KiRu29147', 'A healthcare worker in the queue expressed fears about water-borne diseases, her face etched with worry.",'),
 ('Lalitha Kaburi', 'SoIl32770', 'A factory worker\'s rough hands held empty containers, the long wait for water a symbol of daily struggles.",'),
 ('Bello Azibo', 'KiRu29639', "An unsettling atmosphere prevailed as villagers shared stories of an official's arrogance and perceived corruption. The mention of cash exchanges only intensified their concerns."),
 ('Lalitha Kaburi', 'KiRu29329', "Suspicion colored villagers' descriptions of an official's aloof demeanor and apparent laziness. The reference to cash transactions cast doubt on their motives."),
 ('Bello Azibo', 'KiMr24919', "Suspicion and unease colored the villagers' accounts of an official's haughty behavior and potential corruption. The mention of cash changing hands added to their apprehension."),
 ('Malachi Mavuso', 'HaRu20005', "A herdboy's simplicity is marred by disillusionment, his youthful trust eroded by the corrupt system around him."),
 ('Malachi Mavuso', 'AkHa00053', "A craftsman's pride is dimmed by resentment, his artistry affected by the corrupt who control the resources."),
 ('Zuriel Matembo', 'HaSe20888', "Suspicion and unease colored the villagers' accounts of an official's haughty behavior and potential corruption. The mention of cash changing hands added to their apprehension."),
 ('Zuriel Matembo', 'SoRu38401', "A village chief's dignified wait speaks of leadership and understanding, though the struggle for water weighs heavily."),
 ('Bello Azibo', 'AmRu14887', 'Villagers expressed their discomfort with an official who displayed a haughty demeanor and negligence. The mention of cash transactions deepened their growing sense of unease.'),
 ('Zuriel Matembo', 'HaRu20146', "An air of mistrust hung heavy as villagers described an official's aloof behavior and potential impropriety. The whisper of cash exchanges only fueled their apprehension."),
 ('Bello Azibo', 'AkRu05741', 'An air of mistrust surrounded the official, as villagers spoke of laziness and hints of corruption. The mention of cash passing discreetly only deepened their concerns.'),
 ('Zuriel Matembo', 'AkKi00847', 'A young student missed school to fetch water, frustrated by the long wait and murky appearance.",'),
 ('Bello Azibo', 'HaYa21395', "A university student's studies suffer from hours in line, dreams clouded by the daily reality of dirty water."),
 ('Malachi Mavuso', 'AkRu03245', "A traditional basket weaver's hands rest in line, her daily work paused by the struggle for water."),
 ('Lalitha Kaburi', 'HaRu20544', "A traditional healer's thoughtful presence in the line speaks of understanding and empathy for the shared struggle."),
 ('Malachi Mavuso', 'KiRu30640', "A local mason's strength is tested by frustration, his work hindered by the corruption that controls resources."),
 ('Malachi Mavuso', 'SoMa34211', 'A teenager\'s dreams of studying were overshadowed by daily hours in the water line, frustration growing with each day.",'),
 ('Zuriel Matembo', 'SoRu38535', "A teenager's dreams are tempered by reality, her future threatened by the corrupt practices she sees around her."),
 ('Malachi Mavuso', 'SoRu36566', 'A small business owner counts lost hours as he stands in line, worrying about the water quality affecting his products.'),
 ('Malachi Mavuso', 'AmRu15719', "Suspicion and unease colored the villagers' accounts of an official's haughty behavior and potential corruption. The mention of cash changing hands added to their apprehension."),
 ('Malachi Mavuso', 'AkRu08640', "A local preacher's prayers are tinged with anger, seeking justice from the corruption that plagues his flock."),
 ('Malachi Mavuso', 'AmRu13226', "A seasonal worker's exhaustion is fueled by anger, his daily struggle intensified by the corrupt system."),
 ('Zuriel Matembo', 'AmPw12480', "A village chief's dignity is marred by frustration, his leadership challenged by corruption at higher levels."),
 ('Bello Azibo', 'AmRu14842', "An elderly woman's weary eyes reflect the toll of daily hours spent in the queue, her thoughts on family back home."),
 ('Malachi Mavuso', 'AkRu03358', "A traveling trader's pause in the village includes a wait for water, his face reflecting the hardship of the road."),
 ('Malachi Mavuso', 'AmRu13433', 'A child\'s playful innocence contrasted with the serious faces around, unaware of the water\'s questionable quality.",'),
 ('Malachi Mavuso', 'AmAm09956', 'An unsettling atmosphere surrounded the official, as villagers shared their experiences of arrogance and lack of dedication. The mention of cash exchanges only intensified their doubts.')]

In [97]:
%%sql

WITH error_count AS (
        SELECT
            employee_name,
            COUNT(*) AS number_of_mistakes
        FROM Incorrect_records
        GROUP BY employee_name
    ),
    suspect_list AS (
        SELECT
            employee_name
        FROM error_count
        WHERE number_of_mistakes > (
            SELECT AVG(number_of_mistakes) FROM error_count
        )
    )
SELECT employee_name, location_id, statements
FROM Incorrect_records
WHERE location_id IN (
    "AkRu04508", "AkRu07310", "KiRu29639", "AmAm09607" 
);

 * mysql+pymysql://root:***@localhost:3306/md_water_services
4 rows affected.

[('Malachi Mavuso', 'AmAm09607', 'Villagers spoke of an unsettling encounter with an official who appeared dismissive and detached. The reference to cash transactions added to their growing sense of distrust.'),
 ('Bello Azibo', 'AkRu04508', 'An unsettling atmosphere surrounded the official, as villagers shared their experiences of arrogance and lack of dedication. The mention of cash exchanges only intensified their doubts.'),
 ('Lalitha Kaburi', 'AkRu07310', 'Villagers spoke of their unsettling encounters with an official who seemed indifferent and uninterested, hinting at potential improprieties involving cash exchanges.'),
 ('Bello Azibo', 'KiRu29639', "An unsettling atmosphere prevailed as villagers shared stories of an official's arrogance and perceived corruption. The mention of cash exchanges only intensified their concerns.")]

In [98]:
%%sql

-- Statements containing the word "cash"

WITH error_count AS (
        SELECT
            employee_name,
            COUNT(*) AS number_of_mistakes
        FROM Incorrect_records
        GROUP BY employee_name
    ),
    suspect_list AS (
        SELECT
            employee_name
        FROM error_count
        WHERE number_of_mistakes > (
            SELECT AVG(number_of_mistakes) FROM error_count
        )
    )
SELECT employee_name, location_id, statements
FROM Incorrect_records
WHERE employee_name IN (SELECT employee_name FROM suspect_list)
  AND statements LIKE '%cash%';

 * mysql+pymysql://root:***@localhost:3306/md_water_services
19 rows affected.

[('Zuriel Matembo', 'SoRu38331', 'An unsettling atmosphere surrounded the official, as villagers shared their experiences of arrogance and lack of dedication. The mention of cash exchanges only intensified their doubts.'),
 ('Malachi Mavuso', 'AmAm09607', 'Villagers spoke of an unsettling encounter with an official who appeared dismissive and detached. The reference to cash transactions added to their growing sense of distrust.'),
 ('Bello Azibo', 'KiIs23853', "Villagers' wary accounts of an official's arrogance and detachment from their concerns raised suspicions. The mention of cash changing hands further tainted their perception."),
 ('Bello Azibo', 'HaSe21323', 'Villagers spoke of an unsettling encounter with an official who appeared dismissive and detached. The reference to cash transactions added to their growing sense of distrust.'),
 ('Zuriel Matembo', 'AkRu05880', "Villagers' wary accounts of an official's arrogance and detachment from their concerns raised suspicions. The allusion to cash changing hands deepened their skepticism."),
 ('Bello Azibo', 'KiRu27065', 'Villagers expressed their discomfort with an official who displayed a haughty demeanor and negligence. The mention of cash transactions deepened their growing sense of unease.'),
 ('Malachi Mavuso', 'KiRu25347', 'Villagers expressed their discontent with an official who appeared dismissive and neglectful. The mention of cash changing hands added to their growing sense of distrust.'),
 ('Zuriel Matembo', 'SoIl32575', 'Villagers recounted unsettling encounters with an official known for their arrogance and avoidance of responsibilities. The mention of cash changing hands added to their apprehension and distrust.'),
 ('Bello Azibo', 'AkRu04508', 'An unsettling atmosphere surrounded the official, as villagers shared their experiences of arrogance and lack of dedication. The mention of cash exchanges only intensified their doubts.'),
 ('Lalitha Kaburi', 'AkRu07310', 'Villagers spoke of their unsettling encounters with an official who seemed indifferent and uninterested, hinting at potential improprieties involving cash exchanges.'),
 ('Bello Azibo', 'KiRu29639', "An unsettling atmosphere prevailed as villagers shared stories of an official's arrogance and perceived corruption. The mention of cash exchanges only intensified their concerns."),
 ('Lalitha Kaburi', 'KiRu29329', "Suspicion colored villagers' descriptions of an official's aloof demeanor and apparent laziness. The reference to cash transactions cast doubt on their motives."),
 ('Bello Azibo', 'KiMr24919', "Suspicion and unease colored the villagers' accounts of an official's haughty behavior and potential corruption. The mention of cash changing hands added to their apprehension."),
 ('Zuriel Matembo', 'HaSe20888', "Suspicion and unease colored the villagers' accounts of an official's haughty behavior and potential corruption. The mention of cash changing hands added to their apprehension."),
 ('Bello Azibo', 'AmRu14887', 'Villagers expressed their discomfort with an official who displayed a haughty demeanor and negligence. The mention of cash transactions deepened their growing sense of unease.'),
 ('Zuriel Matembo', 'HaRu20146', "An air of mistrust hung heavy as villagers described an official's aloof behavior and potential impropriety. The whisper of cash exchanges only fueled their apprehension."),
 ('Bello Azibo', 'AkRu05741', 'An air of mistrust surrounded the official, as villagers spoke of laziness and hints of corruption. The mention of cash passing discreetly only deepened their concerns.'),
 ('Malachi Mavuso', 'AmRu15719', "Suspicion and unease colored the villagers' accounts of an official's haughty behavior and potential corruption. The mention of cash changing hands added to their apprehension."),
 ('Malachi Mavuso', 'AmAm09956', 'An unsettling atmosphere surrounded the official, as villagers shared their experiences of arrogance and lack of dedication. The mention of cash exchanges only intensified their doubts.')]

In [99]:
%%sql

WITH error_count AS (
        SELECT
            employee_name,
            COUNT(*) AS number_of_mistakes
        FROM Incorrect_records
        GROUP BY employee_name
    ),
    suspect_list AS (
        SELECT
            employee_name
        FROM error_count
        WHERE number_of_mistakes > (
            SELECT AVG(number_of_mistakes) FROM error_count
        )
    )
SELECT employee_name, location_id, statements
FROM Incorrect_records
WHERE employee_name NOT IN (SELECT employee_name FROM suspect_list)
  AND statements LIKE '%cash%';

 * mysql+pymysql://root:***@localhost:3306/md_water_services
0 rows affected.

[]

In [105]:
%%sql

WITH error_count AS (
        SELECT
            employee_name,
            COUNT(*) AS number_of_mistakes
        FROM Incorrect_records
        GROUP BY employee_name
    ),
    suspect_list AS (
    SELECT ec1.employee_name, ec1.number_of_mistakes
    FROM error_count ec1
    WHERE ec1.number_of_mistakes >= (
        SELECT AVG(ec2.number_of_mistakes)
        FROM error_count ec2
        WHERE ec2.employee_name = ec1.employee_name))
SELECT employee_name, location_id, statements
FROM Incorrect_records
WHERE employee_name IN (
    SELECT employee_name FROM suspect_list
);

 * mysql+pymysql://root:***@localhost:3306/md_water_services
102 rows affected.

[('Rudo Imani', 'AkRu05215', "Villagers admired the official's visit for its respectful interactions, hard work, and genuine concern."),
 ('Bello Azibo', 'KiRu29290', 'A young artist sketches the faces in the queue, capturing the weariness of daily hours spent waiting for water.'),
 ('Bello Azibo', 'KiHa22748', "A young girl's hopeful eyes are clouded by mistrust, her innocence tarnished by the corrupt system."),
 ('Rudo Imani', 'SoRu37841', "The official's respectful and diligent presence was met with heartfelt appreciation, creating a sense of closeness with the villagers."),
 ('Bello Azibo', 'KiRu27884', "A traditional healer's empathy turns to bitterness, knowing that corrupt practices harm her community."),
 ('Zuriel Matembo', 'KiZu31170', 'A community leader stood with his people, expressing concern for the water quality and the time lost in queues.",'),
 ('Yewande Ebele', 'KiZu31370', "With a keen understanding of urban challenges, the official's visit left a lasting impression of respect and commitment."),
 ('Bello Azibo', 'AkRu06495', 'A healthcare worker in the queue expressed fears about water-borne diseases, her face etched with worry.",'),
 ('Jengo Tumaini', 'HaRu17528', 'With humility and diligence, the official formed bonds with the villagers that felt like genuine family connections.'),
 ('Zuriel Matembo', 'SoRu38331', 'An unsettling atmosphere surrounded the official, as villagers shared their experiences of arrogance and lack of dedication. The mention of cash exchanges only intensified their doubts.'),
 ('Farai Nia', 'AmRu15556', "The official's presence left a positive impact on the community, admired for their genuine concern and efforts to improve urban living."),
 ('Malachi Mavuso', 'AmAm09607', 'Villagers spoke of an unsettling encounter with an official who appeared dismissive and detached. The reference to cash transactions added to their growing sense of distrust.'),
 ('Zuriel Matembo', 'AkHa00314', "A street vendor's sales suffer from time spent waiting, her concern for the water's quality affecting her products."),
 ('Malachi Mavuso', 'KiRu26598', "A teenager's dreams are tempered by reality, her future threatened by the corrupt practices she sees around her."),
 ('Bello Azibo', 'KiIs23853', "Villagers' wary accounts of an official's arrogance and detachment from their concerns raised suspicions. The mention of cash changing hands further tainted their perception."),
 ('Makena Thabo', 'AkRu03475', "Villagers spoke highly of the official's humility and dedication, underscoring their respectful approach and familial connection."),
 ('Lalitha Kaburi', 'KiIs24083', "A fisherman's anger boils beneath the surface, his livelihood threatened by the corrupt who tamper with water."),
 ('Malachi Mavuso', 'AmAm09631', 'An elderly man lamented the endless queue, recalling times when water was abundant and clean.",'),
 ('Zuriel Matembo', 'KiRu30343', "A university student's studies suffer from hours in line, dreams clouded by the daily reality of dirty water."),
 ('Gamba Shani', 'AmRu13668', "The official's visit left a lasting impact, characterized by their respectful approach and dedication to uplifting the community."),
 ('Jengo Tumaini', 'SoBa31691', "Villagers were touched by the official's sincere concern and approachable demeanor, creating an atmosphere of unity and understanding."),
 ('Malachi Mavuso', 'AkRu04116', "A student's ambition is fueled by the daily water struggle, his determination to overcome evident in the queue."),
 ('Malachi Mavuso', 'AmPw12272', "A subsistence farmer's worry for his crops extends to the queue, the struggle for water a shared community burden."),
 ('Enitan Zuri', 'SoRu37524', 'Villagers held the official in high esteem, praising their dedication, respect, and the familial connections they established.'),
 ('Bello Azibo', 'AmRu14691', "An artisan's creative mind is stifled by the wait, thoughts of craft overshadowed by concern for water quality."),
 ('Bello Azibo', 'KiRu29556', "A field worker's endurance is tested by anger, his toil a reminder of the corrupt practices that affect him daily."),
 ('Bello Azibo', 'KiZu30847', "A traveling trader's pause in the village includes a wait for water, his face reflecting the hardship of the road."),
 ('Bello Azibo', 'AkHa00363', "A local mason's strong back is bent by the wait for water, his concerns for quality reflecting a broader challenge."),
 ('Makena Thabo', 'SoBa31761', "Villagers were moved by the official's visit, praising their hard work, humility, and the profound sense of connection they fostered."),
 ('Lalitha Kaburi', 'SoKo33094', "A traveling trader's pause in the village includes a wait for water, his face reflecting the hardship of the road."),
 ('Bello Azibo', 'HaSe21323', 'Villagers spoke of an unsettling encounter with an official who appeared dismissive and detached. The reference to cash transactions added to their growing sense of distrust.'),
 ('Malachi Mavuso', 'AmDa11466', "A seasonal laborer's exhaustion is compounded by the wait, the water's quality a reminder of the harsh reality."),
 ('Jengo Tumaini', 'HaRu17038', "The official's interactions were marked by genuine care and a deep understanding of the villagers' unique circumstances."),
 ('Zuriel Matembo', 'KiRu27364', 'A mother of three stood in line for hours, worried about the water\'s color and what it might mean for her children\'s health.",'),
 ('Zuriel Matembo', 'AkRu05880', "Villagers' wary accounts of an official's arrogance and detachment from their concerns raised suspicions. The allusion to cash changing hands deepened their skepticism."),
 ('Bello Azibo', 'KiRu29696', "A grandmother's wisdom and patience in the queue are lessons in resilience, though her concern for water quality lingers."),
 ('Bello Azibo', 'KiRu27065', 'Villagers expressed their discomfort with an official who displayed a haughty demeanor and negligence. The mention of cash transactions deepened their growing sense of unease.'),
 ('Rudo Imani', 'AkRu07426', "Villagers spoke highly of the official's visit, highlighting the sense of togetherness and unity that flourished."),
 ('Farai Nia', 'AmAs10124', "With a family-oriented approach, the official's interactions resonated deeply with the villagers, creating bonds of respect."),
 ('Thandiwe Kito', 'HaRu18142', "Villagers spoke warmly of the official's humility and dedication, emphasizing the sense of camaraderie they brought."),
 ('Rudo Imani', 'AkRu06284', "The official's presence inspired urban residents, fostering a sense of unity and determination for positive urban changes."),
 ('Malachi Mavuso', 'KiRu25347', 'Villagers expressed their discontent with an official who appeared dismissive and neglectful. The mention of cash changing hands added to their growing sense of distrust.'),
 ('Bello Azibo', 'AmRu14364', "A local musician's songs of joy are replaced with melodies of despair, inspired by the corrupt who control the water."),
 ('Bello Azibo', 'KiZu31100', "A young girl's hopeful eyes are clouded by mistrust, her innocence tarnished by the corrupt system."),
 ('Makena Thabo', 'KiRu29537', "The official's presence resonated deeply with the villagers, leaving a sense of genuine care and dedication."),
 ('Zuriel Matembo', 'AkRu03973', "A health worker's frustration grows in the queue, knowing that corruption affects even the health of her community."),
 ('Bello Azibo', 'SoKo33333', "A community volunteer's dedication is tested by bitterness, her efforts often thwarted by corrupt officials."),
 ('Rudo Imani', 'KiRu26688', 'With an approachable demeanor, the official created an atmosphere of warmth and mutual respect that the villagers appreciated.'),
 ('Zuriel Matembo', 'SoIl32575', 'Villagers recounted unsettling encounters with an official known for their arrogance and avoidance of responsibilities. The mention of cash changing hands added to their apprehension and distrust.'),
 ('Zuriel Matembo', 'SoMa34366', "A soldier's disciplined waiting contrasts with the chaos of the line, his face betraying concern for his family back home."),
 ('Lalitha Kaburi', 'AkRu04935', "A child's homework is done in the queue, a stark reminder of the daily impact on education due to the water situation."),
 ('Zuriel Matembo', 'HaRu19244', "A politician's promises ring hollow in the queue, his absence noted by those waiting for clean water."),
 ('Bello Azibo', 'SoRu36708', "A local mason's strong back is bent by the wait for water, his concerns for quality reflecting a broader challenge."),
 ('Bello Azibo', 'AkRu04508', 'An unsettling atmosphere surrounded the official, as villagers shared their experiences of arrogance and lack of dedication. The mention of cash exchanges only intensified their doubts.'),
 ('Bello Azibo', 'AkRu03848', "A local tailor's creativity is stifled by frustration, his work impacted by the corruption that taints the water."),
 ('Bello Azibo', 'AkLu02500', "A tour guide's enthusiasm is dampened by the water situation, his own wait in line a daily challenge."),
 ('Lalitha Kaburi', 'AkRu07310', 'Villagers spoke of their unsettling encounters with an official who seemed indifferent and uninterested, hinting at potential improprieties involving cash exchanges.'),
 ('Enitan Zuri', 'AkKi01267', "Urban residents were touched by the official's dedication to community well-being, leaving a lasting impression of compassion and care."),
 ('Zuriel Matembo', 'AmRu14245', "A retiree's patient waiting masks frustration with the water situation, her stories filled with memories of better days."),
 ('Malachi Mavuso', 'KiZu30932', "A village teacher frets over lost class time, her concern for her students mixed with worry for the water's quality."),
 ('Bello Azibo', 'KiAm22092', "A mother-to-be's gentle waiting in line is filled with hope and concern, the water's quality a looming worry."),
 ('Malachi Mavuso', 'KiRu29147', 'A healthcare worker in the queue expressed fears about water-borne diseases, her face etched with worry.",'),
 ('Pili Zola', 'SoRu38045', 'With an approachable demeanor, the official fostered an atmosphere of unity and respect that felt like family.'),
 ('Lalitha Kaburi', 'SoIl32770', 'A factory worker\'s rough hands held empty containers, the long wait for water a symbol of daily struggles.",'),
 ('Enitan Zuri', 'HaDj16824', "The official's visit left a lasting impact, characterized by their respectful approach and dedication to uplifting the community."),
 ('Bello Azibo', 'KiRu29639', "An unsettling atmosphere prevailed as villagers shared stories of an official's arrogance and perceived corruption. The mention of cash exchanges only intensified their concerns."),
 ('Lalitha Kaburi', 'KiRu29329', "Suspicion colored villagers' descriptions of an official's aloof demeanor and apparent laziness. The reference to cash transactions cast doubt on their motives."),
 ('Usafi Ayo', 'AkHa00311', 'With a commitment to community well-being, the official earned the admiration and respect of the villagers.'),
 ('Bello Azibo', 'KiMr24919', "Suspicion and unease colored the villagers' accounts of an official's haughty behavior and potential corruption. The mention of cash changing hands added to their apprehension."),
 ('Malachi Mavuso', 'HaRu20005', "A herdboy's simplicity is marred by disillusionment, his youthful trust eroded by the corrupt system around him."),
 ('Yewande Ebele', 'AmRu14113', "The official's visit was met with heartfelt appreciation, as their humility and genuine interest touched the villagers deeply."),
 ('Farai Nia', 'AkKi01256', 'With an approachable demeanor, the official created an atmosphere of warmth and mutual respect that the villagers appreciated.'),
 ('Enitan Zuri', 'SoRu36101', "The official's visit left a lasting positive impression, admired for their respectful attitude and dedication to the community."),
 ('Gamba Shani', 'SoRu39544', "Residents admired the official's dedication to urban betterment, recognizing their efforts to listen and collaborate."),
 ('Malachi Mavuso', 'AkHa00053', "A craftsman's pride is dimmed by resentment, his artistry affected by the corrupt who control the resources."),
 ('Zuriel Matembo', 'HaSe20888', "Suspicion and unease colored the villagers' accounts of an official's haughty behavior and potential corruption. The mention of cash changing hands added to their apprehension."),
 ('Zuriel Matembo', 'SoRu38401', "A village chief's dignified wait speaks of leadership and understanding, though the struggle for water weighs heavily."),
 ('Deka Osumare', 'AmRu14223', "The official's interactions resonated deeply with the urban community, leaving a positive impact and renewed enthusiasm."),
 ('Bello Azibo', 'AmRu14887', 'Villagers expressed their discomfort with an official who displayed a haughty demeanor and negligence. The mention of cash transactions deepened their growing sense of unease.'),
 ('Farai Nia', 'AkRu02789', "The official's visit left a lasting impact, characterized by their respectful approach and dedication to uplifting the community."),
 ('Zuriel Matembo', 'HaRu20146', "An air of mistrust hung heavy as villagers described an official's aloof behavior and potential impropriety. The whisper of cash exchanges only fueled their apprehension."),
 ('Bello Azibo', 'AkRu05741', 'An air of mistrust surrounded the official, as villagers spoke of laziness and hints of corruption. The mention of cash passing discreetly only deepened their concerns.'),
 ('Ona Sefu', 'KiMr24359', "Residents spoke fondly of the official's efforts to address urban issues, appreciating their respectful and responsive approach."),
 ('Zuriel Matembo', 'AkKi00847', 'A young student missed school to fetch water, frustrated by the long wait and murky appearance.",'),
 ('Yewande Ebele', 'HaRu19621', "Villagers admired the official's respectful attitude and commitment, fostering a bond that felt like family."),
 ('Bello Azibo', 'HaYa21395', "A university student's studies suffer from hours in line, dreams clouded by the daily reality of dirty water."),
 ('Malachi Mavuso', 'AkRu03245', "A traditional basket weaver's hands rest in line, her daily work paused by the struggle for water."),
 ('Lalitha Kaburi', 'HaRu20544', "A traditional healer's thoughtful presence in the line speaks of understanding and empathy for the shared struggle."),
 ('Gamba Shani', 'AmRu14959', "With a family-oriented approach, the official's interactions resonated deeply with the villagers, creating bonds of respect."),
 ('Malachi Mavuso', 'KiRu30640', "A local mason's strength is tested by frustration, his work hindered by the corruption that controls resources."),
 ('Malachi Mavuso', 'SoMa34211', 'A teenager\'s dreams of studying were overshadowed by daily hours in the water line, frustration growing with each day.",'),
 ('Zuriel Matembo', 'SoRu38535', "A teenager's dreams are tempered by reality, her future threatened by the corrupt practices she sees around her."),
 ('Malachi Mavuso', 'SoRu36566', 'A small business owner counts lost hours as he stands in line, worrying about the water quality affecting his products.'),
 ('Xola Uzuri', 'AmAs10336', "The official's interactions inspired a sense of collaboration among urban residents, as they worked together to find solutions."),
 ('Malachi Mavuso', 'AmRu15719', "Suspicion and unease colored the villagers' accounts of an official's haughty behavior and potential corruption. The mention of cash changing hands added to their apprehension."),
 ('Malachi Mavuso', 'AkRu08640', "A local preacher's prayers are tinged with anger, seeking justice from the corruption that plagues his flock."),
 ('Malachi Mavuso', 'AmRu13226', "A seasonal worker's exhaustion is fueled by anger, his daily struggle intensified by the corrupt system."),
 ('Zuriel Matembo', 'AmPw12480', "A village chief's dignity is marred by frustration, his leadership challenged by corruption at higher levels."),
 ('Bello Azibo', 'AmRu14842', "An elderly woman's weary eyes reflect the toll of daily hours spent in the queue, her thoughts on family back home."),
 ('Malachi Mavuso', 'AkRu03358', "A traveling trader's pause in the village includes a wait for water, his face reflecting the hardship of the road."),
 ('Malachi Mavuso', 'AmRu13433', 'A child\'s playful innocence contrasted with the serious faces around, unaware of the water\'s questionable quality.",'),
 ('Malachi Mavuso', 'AmAm09956', 'An unsettling atmosphere surrounded the official, as villagers shared their experiences of arrogance and lack of dedication. The mention of cash exchanges only intensified their doubts.')]

In [109]:
%%sql

-- Statements containing the word "cash"

WITH error_count AS (
        SELECT
            employee_name,
            COUNT(*) AS number_of_mistakes
        FROM Incorrect_records
        GROUP BY employee_name
    ),
    suspect_list AS (
        SELECT
            employee_name
        FROM error_count
        WHERE number_of_mistakes > (
            SELECT AVG(number_of_mistakes) FROM error_count
        )
    )
SELECT employee_name, location_id, statements
FROM Incorrect_records
WHERE employee_name IN (SELECT employee_name FROM suspect_list)
  AND statements LIKE '%cash%'
    AND statements LIKE '%aloof%'
    AND statements LIKE '%laziness%';

 * mysql+pymysql://root:***@localhost:3306/md_water_services
1 rows affected.

[('Lalitha Kaburi', 'KiRu29329', "Suspicion colored villagers' descriptions of an official's aloof demeanor and apparent laziness. The reference to cash transactions cast doubt on their motives.")]

In [32]:
%%sql

SELECT audit_location, record_id, auditor_score, surveyor_score,
       (surveyor_score - auditor_score) AS score_diff
FROM (
    SELECT 
        ar.location_id AS audit_location,
        v.record_id,
        ar.true_water_source_score AS auditor_score,
        ar.true_water_source_score AS surveyor_score
    FROM auditor_report AS ar
    JOIN visits AS v 
    ON ar.location_id = v.location_id) AS Sub
WHERE surveyor_score <> auditor_score;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
0 rows affected.

[]

In [33]:
%%sql

SELECT score_diff, COUNT(*) AS freq
FROM (
  SELECT (surveyor_score - auditor_score) AS score_diff
  FROM (
    SELECT 
        ar.location_id AS audit_location,
        v.record_id,
        ar.true_water_source_score AS auditor_score,
        ar.true_water_source_score AS surveyor_score
    FROM auditor_report AS ar
    JOIN visits AS v 
    ON ar.location_id = v.location_id) AS Sub
) t
GROUP BY score_diff
ORDER BY freq DESC;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
1 rows affected.

[(0, 2698)]

In [35]:
%%sql

SELECT 
  visits.location_id,
  COUNT(*) AS visit_instances
FROM visits
-- join to auditor_report or whatever base if needed, e.g.:
JOIN auditor_report ON auditor_report.location_id = visits.location_id
WHERE visits.visit_count = 1  -- if you’re already filtering to first visits; omit this line if you want raw counts including repeats
GROUP BY visits.location_id
HAVING COUNT(*) > 1
ORDER BY visit_instances DESC;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
0 rows affected.

[]

In [36]:
%%sql

WITH per_location AS (
  SELECT location_id, COUNT(*) AS cnt
  FROM visits
  GROUP BY location_id
),
metrics AS (
  SELECT
    SUM(cnt) AS total_auditor_visits,              -- e.g., 1620
    COUNT(*) AS unique_locations,                  -- e.g., 1518 when filtering first visits
    SUM(CASE WHEN cnt > 1 THEN (cnt - 1) ELSE 0 END) AS repeat_visit_records, -- extra duplicates
    COUNT(CASE WHEN cnt > 1 THEN 1 END) AS locations_with_repeats -- how many distinct locations had repeats
  FROM per_location
)
SELECT
  total_auditor_visits,
  unique_locations,
  repeat_visit_records,
  locations_with_repeats,
  ROUND(repeat_visit_records * 1.0 / total_auditor_visits * 100, 2) AS pct_of_visits_that_are_duplicates
FROM metrics;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
1 rows affected.

[(Decimal('60146'), 39650, Decimal('20496'), 2928, Decimal('34.08'))]

In [39]:
%%sql

SELECT 
  location_id,
  cnt AS times_visited,
  cnt - 1 AS extra_duplicate_records
FROM (
  SELECT location_id, COUNT(*) AS cnt
  FROM visits
  GROUP BY location_id
) t
WHERE cnt > 1
ORDER BY times_visited DESC
LIMIT 10;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
10 rows affected.

[('SoRu38968', 8, 7),
 ('SoRu35751', 8, 7),
 ('SoRu36349', 8, 7),
 ('KiZu31109', 8, 7),
 ('SoRu37001', 8, 7),
 ('KiZu31315', 8, 7),
 ('SoRu37691', 8, 7),
 ('KiRu29331', 8, 7),
 ('SoKo33386', 8, 7),
 ('KiRu29941', 8, 7)]

In [37]:
%%sql

SELECT record_id, COUNT(*) AS occurrences
FROM visits
GROUP BY record_id
HAVING COUNT(*) > 1;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
0 rows affected.

[]

In [40]:
%%sql

SELECT record_id, COUNT(*) AS occurrences
FROM water_quality
GROUP BY record_id
HAVING COUNT(*) > 1;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
0 rows affected.

[]